/*------------------------------------*\
  #COMPONENTS-TAG
\*------------------------------------*/


/*
 * Tag
 */
.Tag {
  border-radius: var(--border-radius-default);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-30);
  padding: var(--space-squish-10);
  background: var(--color-primary-50);
  color: var(--color-neutral-0);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-default);

  & + .c-tag {
    margin-left: var(--space-10);
  }
}


/* Neutral */
.Tag___neutral {
  background: var(--color-neutral-10);
  color: var(--color-neutral-70);
}


/* Success */
.Tag___success {
  background: var(--color-success-50);
  color: var(--color-neutral-0);
}


/* Error */
.Tag___error {
  background: var(--color-error-50);
  color: var(--color-neutral-0);
}
