/*------------------------------------*\
  #COMPONENTS-PAGINATION
\*------------------------------------*/

.c-pagination {
  font-size: var(--font-size-20);
  list-style: none;
  display: flex;
  margin: var(--space-stack-default);
}

  .c-pagination__item {
    margin-right: var(--space-xs);

    & a {
      background: var(--color-neutral-10);
      border-radius: var(--border-radius-10);
      color: var(--color-neutral-70);
      display: block;
      font-weight: 600;
      text-decoration: none;
      padding: var(--space-squish-m);

      &:hover {
        background: var(--color-neutral-30);
        color: var(--color-neutral-70);
      }

      &:active,
      &:focus {
        box-shadow: inset 0 1px 3px color(var(--color-black) alpha(20%));
      }
    }
  }

  .c-pagination__item--selected a {
    background: var(--color-primary-50);
    color: var(--color-white);

    &:hover {
      background: var(--color-primary-70);
      color: var(--color-white);
    }

    &:active,
    &:focus {
      box-shadow: inset 0 1px 3px color(var(--color-black) alpha(20%));
    }
  }

  .c-pagination__item--gap {
    background: none;
    padding: var(--space-squish-m);
  }
