/*------------------------------------*\
  #COMPONENTS-PANEL
\*------------------------------------*/


/*
 * Panel
 */
.c-panel {
  border-radius: var(--border-radius-default);
  margin: var(--space-stack-default);
  padding: var(--space-inset-default);
  background: var(--color-neutral-10);
}


/* Panel primary */
.c-panel--primary {
  background: var(--color-primary-50);
  color: var(--color-neutral-0);
}
