/*------------------------------------*\
  #COMPONENTS-FORM-TEXTAREA
\*------------------------------------*/

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
  line-height: var(--line-height-30);
  border: 1px solid var(--color-neutral-30);
  border-radius: var(--border-radius-default);
  color: inherit;
  font-family: var(--font-family-body);
  font-size: var(--font-size-30);
  margin: 0;
  padding: var(--space-20);
  width: 100%;

  &:focus {
    border: 1px solid var(--color-neutral-50);
    outline: 0;
  }
}
