// =========== Base

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color: $color-neutral-90;
  font: 400 $font-size-base $font-family-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  line-height: 1.5em;
}

body {
  height: 100%;
}


// Headings
h1, h2, legend, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  line-height: 1.5em;
  margin: 0 0 0.25em 0;
}

h1,
.is-h1 { font-size: 2.25rem; }

h2,
.is-h2,
legend {
  font-size: 1.5rem;
}

h3,
.is-h3 { font-size: 1.25rem; }

h4,
.is-h4 { font-size: 1.2rem; }

h5,
.is-h5 { font-size: 1.125rem; }

h6,
.is-h6 { font-size: 1rem; }


// Paragraphs
p {
  margin-bottom: $spacing;

  &.is-lead { font-size: $font-size-40; }
}


// Links
a {
  color: $color-primary-50;
  cursor: pointer;
  text-decoration: none;

  &:hover { color: $color-primary-70; }
}


// Other
small {
  color: $color-neutral-50;
  font-size: $font-size-20;
}

em { font-style: italic; }

strong { font-weight: bold; }

code, pre { font-family: 'courier new', monospace; }

pre { overflow-x: auto; }

abbr { border-bottom: 1px dotted $color-neutral-50; }

del { text-decoration: line-through; }

mark { background-color: lighten(yellow, 35%); }

hr {
  background-color: transparent;
  border: solid $color-neutral-30;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.5rem $spacing;
}


// Lists
ul, ol { margin: 0 0 $spacing 1.5rem; }

ul { list-style: disc; }

ol { list-style: decimal; }

dl {
  margin-bottom: $spacing;

  dt { font-weight: bold; }
  dd { margin-left: $spacing; }

  &.is-advanced {
    @include grid-container;

    dt { @include grid(16, 0, 1); }

    dd { @include grid(32); }
  }
}
