// =========== Layout

.l-full {

    @include breakpoint($breakpoint-10) { @include grid(48, 1); }
}

.l-two-third {

    @include breakpoint($breakpoint-10) { @include grid(32, 1); }
}

.l-half {

    @include breakpoint($breakpoint-10) { @include grid(24, 1); }
}

.l-one-third {

    @include breakpoint($breakpoint-10) { @include grid(16, 1);  }
}

.l-grid {
    @include grid-container;

    li { @include grid(16, 1); }
}

.l-first { clear: left; }


div.l-container {
    margin: auto;
    max-width: $max-width;
    padding: $spacing;
    @include grid-container;

    @include breakpoint($breakpoint-20) { padding: $spacing * 2; }
}
