// =========== Layout

.l-full {
    @include breakpoint($breakpoint-one) { @include grid(48, 1); }
}
.l-two-third {
    @include breakpoint($breakpoint-one) { @include grid(32, 1); }
}
.l-half {
    @include breakpoint($breakpoint-one) { @include grid(24, 1); }
}
.l-one-third {
    @include breakpoint($breakpoint-one) { @include grid(16, 1);  }
}
.l-grid {
    @include clearfix;
    li { @include grid(16, 1); }
}
.l-first { clear: left; }

div.l-container {
    max-width: $max-width;
    margin: auto;
    padding: 0.75rem;
    @include clearfix;
    @include breakpoint($breakpoint-two) { padding: 1.5rem; }
}
