// =========== Layout

.l-full {

    @media (min-width: $breakpoint-10) {
        @include grid(48, 1);
    }
}

.l-two-third {

    @media (min-width: $breakpoint-10) {
        @include grid(32, 1);
    }
}

.l-half {

    @media (min-width: $breakpoint-10) {
        @include grid(24, 1);
    }
}

.l-one-third {

    @media (min-width: $breakpoint-10) {
        @include grid(16, 1);
    }
}

.l-grid {
    @include grid-container;

    li {
        @include grid(16, 1);
    }
}

.l-first {
    clear: left;
}

.l-left {

    @media (min-width: $breakpoint-10) {
        float: left;
    }
}

.l-right {

    @media (min-width: $breakpoint-10) {
        float: right;
    }
}

div.l-container {
    margin: auto;
    max-width: $max-width;
    padding: $spacing;
    @include grid-container;

    @media (min-width: $breakpoint-20) {
        padding: $spacing * 2;
        padding-bottom: $spacing;
    }
}
