// =========== Pattern library

.pattern-library__navigation {
  list-style: none;
  margin-left: 0;
  background: $color-neutral-10;

  li:last-child a { border: 0; }

  a {
    display: block;
    padding: 0.25rem 0.5rem 0.2rem 0.5rem;
    color: $color-neutral-50;
    font-size: $font-size-20;
    border-bottom: 1px solid $white;

    &:hover {
      color: $color-primary-50;
      text-decoration: underline;
    }
  }
}

.pattern-library__h2 {
  padding-top: $spacing;
  margin-top: $spacing * 2;

  &:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
}

.pattern-library__h3 {
  font-size: $font-size-10;
  color: $color-neutral-50;
  font-family: $font-family-body;
  border-bottom: 1px solid $color-neutral-30;
  margin: $spacing 0 $spacing 0;
  font-weight: 600;
  text-transform: uppercase;

  a { float: right; }
}

.pattern-library__grid {
  @include grid-container;

  div {
    background: $color-neutral-30;
    margin-bottom: 2.08333%;
    padding: 0.5rem;
    text-align: center;
  }
}

// Colors
div.colors {
  @include grid-container;

  ul {
    width: 50%;
    float: left;
    list-style: none;
    margin-left: 0;
  }

  li {
    padding: 0.5rem 1rem;
  }
}

ul.colors__element {
  color: $white;
}

// Colors primary
div.colors.is-color-primary .colors__element li {

  &:nth-child(1) { background: $color-primary-30; }
  &:nth-child(2) { background: $color-primary-50; }
  &:nth-child(3) { background: $color-primary-70; }
}

div.colors.is-color-primary .colors__text li {

  &:nth-child(1) { color: $color-primary-30; }
  &:nth-child(2) { color: $color-primary-50; }
  &:nth-child(3) { color: $color-primary-70; }
}

// Colors secondary
div.colors.is-color-secondary .colors__element li {

  &:nth-child(1) { background: $color-secondary-50; }
}

div.colors.is-color-secondary .colors__text li {

  &:nth-child(1) { color: $color-secondary-50; }
}

// Colors neutral
div.colors.is-color-neutral .colors__element li {

  &:nth-child(1) { background: $color-neutral-10; }
  &:nth-child(2) { background: $color-neutral-30; }
  &:nth-child(3) { background: $color-neutral-50; }
  &:nth-child(4) { background: $color-neutral-70; }
  &:nth-child(5) { background: $color-neutral-90; }
}

div.colors.is-color-neutral .colors__text li {

  &:nth-child(1) { color: $color-neutral-10; }
  &:nth-child(2) { color: $color-neutral-30; }
  &:nth-child(3) { color: $color-neutral-50; }
  &:nth-child(4) { color: $color-neutral-70; }
  &:nth-child(5) { color: $color-neutral-90; }
}

// Colors success
div.colors.is-color-success .colors__element li {

  &:nth-child(1) { background: $color-success-50; }
  &:nth-child(2) { background: $color-success-70; }
}

div.colors.is-color-success .colors__text li {

  &:nth-child(1) { color: $color-success-50; }
  &:nth-child(2) { color: $color-success-70; }
}

// Colors alert
div.colors.is-color-alert .colors__element li {

  &:nth-child(1) { background: $color-alert-50; }
  &:nth-child(2) { background: $color-alert-70; }
}

div.colors.is-color-alert .colors__text li {

  &:nth-child(1) { color: $color-alert-50; }
  &:nth-child(2) { color: $color-alert-70; }
}
