// =========== Settings

$font-family: sans-serif;
$font-size: 16px;

$grid-columns: 48;
$max-width: 960px;
$vertical-spacing: 1.25em;

$breakpoint-property: min-width;
$breakpoint-one: 590px;
$breakpoint-two: 767px;
$breakpoint-three: 960px;

$color-brand: #0e8a41;
$color-success: #679b23;
$color-alert: #d65223;
$black: #121313;
$white: #fff;