// =========== Settings

// Most of the variables are based on some kind of percentages to maintain stability and consistency.
// So $variable-10 is small or light and $variable-100 is big or dark.


// Set your own font
$font-family-body: sans-serif;
$font-family-heading: georgia;


// The base font-size, all other elements will adjust to this value
$font-size-base: 100%;

$font-size-10: 0.75rem;
$font-size-20: 0.875rem;
$font-size-30: 1rem;
$font-size-40: 1.125rem;
$font-size-50: 1.25rem;


// The grid columns will be used in the grid mixin, 48 is standard
$grid-columns: 48;
$grid-gutter: 1;


// Adjust the website's maximum width.
$max-width: 1140px;


// Use the spacing variable on margins and paddings
$spacing: 1rem;


// Adjust the border-radius
$border-radius-10: 0.125rem;
$border-radius-20: 0.313rem;


// Media queries
// Adjust them to you needs or add more
$breakpoint-10: 600px;
$breakpoint-20: 750px;
$breakpoint-30: 1000px;
$breakpoint-40: 1200px;


// Z-index plan
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;


// Animation beziers
$bezier-a: cubic-bezier(0.075, 0.82, 0.165, 1);


// Colors
// Add your own color variables from light to dark.

// Color primary
$color-primary-30: #29c882;
$color-primary-50: #09a25f; // Default
$color-primary-70: #038049;

// Color secondary
$color-secondary-50: #E77E37; // Default

// Color success
$color-success-50: #39b924; // Default
$color-success-70: #249c11;

// Color alert
$color-alert-50: #f3490d; // Default
$color-alert-70: #d33e09;

// Color neutral
$color-neutral-10: #eef2f0;
$color-neutral-30: #ccd6d2;
$color-neutral-50: #8d9994;
$color-neutral-70: #3f4542;
$color-neutral-90: #232725;

// Color basics
$black: #000;
$white: #fff;
