// =========== Settings

$font-family: sans-serif;
$font-size: 16px;

$grid-columns: 48;
$max-width: 1400px;
$vertical-spacing: 1.25em;
$border-radius: 0.15em;

$breakpoint-property: min-width;
$breakpoint-one: 590px;
$breakpoint-two: 767px;
$breakpoint-three: 960px;
// Add more breakpoints if you need them

$color-brand: #09a25f;
$color-success: #39b924;
$color-alert: #f3490d;

$black: #0e1110;
$gray: #ced7d3;
$white: #fff;