/*------------------------------------*\
  #COMPONENTS-FORM-SELECT
\*------------------------------------*/

.c-form-select {
  border: 1px solid var(--color-neutral-30);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url('image.svg') right 0.5rem center no-repeat;

  & select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  }
}
