<p>
  <a class="c-button" role="button" href="http://github.com"><span class="c-button__title">Button</span></a>
  <a class="c-button c-button--primary" role="button" href=""><span class="c-button__title">Button Primary</span></a>
  <a class="c-button c-button--error" role="button" href=""><span class="c-button__title">Button error</span></a>
  <a class="c-button c-button--disabled" role="button" href=""><span class="c-button__title">Button Disabled</span></a>
</p>

<p>
  <a class="c-button c-button--neutral" role="button" href="">
    <span class="c-button__icon c-icon"><svg role="img"><title>Print</title><use xlink:href="#icon-print"></use></svg></span>
    <span class="c-button__title">Button</span>
  </a>
  <a class="c-button c-button--primary" role="button" href="">
    <span class="c-button__title">Button</span>
    <span class="c-button__icon c-icon"><svg role="img"><title>Print</title><use xlink:href="#icon-print"></use></svg></span>
  </a>
</p>

<p>
  <a class="c-button c-button--neutral c-button--small" role="button" href=""><span class="c-button__title">Button Small</span></a>
</p>
