/*------------------------------------*\
  #COMPONENTS-BUTTONS
\*------------------------------------*/

.c-button {
  border: 0;
  border-radius: var(--border-radius-50);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-30);
  line-height: var(--line-height-default);
  margin: 0;
  padding: var(--space-squish-25);
  text-decoration: none;
  background: var(--color-neutral-10);
  color: var(--color-neutral-70);

  &:visited {
    color: var(--color-neutral-70);
  }

  &:hover {
    background: var(--color-neutral-30);
    color: var(--color-neutral-70);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color-mod(var(--color-black) alpha(80%));
  }
}


/* Sizes */
.c-button--small {
  font-size: var(--font-size-20);
  border-radius: var(--border-radius-default);
  padding: var(--space-squish-20);
}

.c-button--large {
  padding: var(--space-squish-30);
}


/* Types */
.c-button--primary {
  background: var(--color-primary-50);
  color: var(--color-white);

  &:hover {
    background: var(--color-primary-70);
    color: var(--color-white);
  }

  &:visited {
    color: var(--color-white);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color-mod(var(--color-black) alpha(80%));
  }
}

.c-button--error {
  background: var(--color-error-50);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background: var(--color-error-70);
    color: var(--color-white);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color-mod(var(--color-black) alpha(80%));
  }
}

.c-button--disabled {
  background: var(--color-neutral-30);
  color: var(--color-neutral-50);
  pointer-events: none;

  &:visited {
    color: var(--color-neutral-50);
  }
}
