{% from "components/icon/icon.html" import Icon %}

{% macro Button(size='', url='', icon='', iconPosition='left', type='neutral') %}
  {% set typeClass = type and 'c-button--' + type %}
  {% set sizeClass = size and 'c-button--' + size %}

  <a class="c-button {{ sizeClass }} {{ typeClass }}" href="{{ url }}">
    {% if icon and iconPosition == 'left' %}
      {{ Icon(icon=icon) }}
    {% endif %}

    {{ caller() }}

    {% if icon and iconPosition == 'right' %}
      {{ Icon(icon=icon) }}
    {% endif %}
  </a>
{% endmacro %}
