<p>
  <a class="c-button" role="button" href="http://github.com">Button</a>
  <a class="c-button c-button--primary" role="button" href="">Button Primary</a>
  <a class="c-button c-button--error" role="button" href="">Button error</a>
  <a class="c-button c-button--disabled" role="button" href="">Button Disabled</a>
</p>

<p>
  <a class="c-button c-button--neutral" role="button" href=""><span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span> Button</a>
  <a class="c-button c-button--primary" role="button" href="">Button <span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span></a>
  <a class="c-button c-button--neutral" role="button" href=""><span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span></a>
</p>

<p>
  <a class="c-button c-button--neutral c-button--large" role="button" href="">Button Large</a>
</p>

<p>
  <a class="c-button c-button--neutral c-button--small" role="button" href="">Button Small</a>
</p>
