<p>
  <a class="c-button" href="http://github.com">Button</a>
  <a class="c-button c-button--primary" href="">Button Primary</a>
  <a class="c-button c-button--error" href="">Button error</a>
  <a class="c-button c-button--disabled" href="">Button Disabled</a>
</p>

<p>
  <a class="c-button c-button--neutral" href=""><span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span> Button</a>
  <a class="c-button c-button--primary" href="">Button <span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span></a>
  <a class="c-button c-button--neutral" href=""><span class="c-icon"><svg><use xlink:href="#icon-print"></use></svg></span></a>
</p>

<p>
  <a class="c-button c-button--neutral c-button--large" href="">Button Large</a>
</p>

<p>
  <a class="c-button c-button--neutral c-button--small" href="">Button Small</a>
</p>
