// =========== Buttons 
button::-moz-focus-inner { padding: 0; border: 0; }
// Choose a div or ul to group up your buttons
div.buttons, ul.buttons {
    list-style: none;
    margin: 0 0 $margin-bottom 0;
    @include clearfix;
    li { 
        a.button, a.btn, input[type="submit"], button {
            @include border-radius(0);
            float: left; 
            border-left-width: 0;
        }
        &:first-child { a.button, a.btn, input[type="submit"], button { @include border-radius(0.2em 0 0 0.2em); border-left-width: 1px; } }
        &:last-child { a.button, a.btn, input[type="submit"], button { @include border-radius(0 0.2em 0.2em 0); } }
    }
}
.dropdown-menu { display: none; }

// The standard button has the $color-brand colors
a.button, a.btn, input[type="submit"], button {
    border: 1px solid darken($color-brand, 20%);
    @include border-radius(0.2em);
    @include box-shadow((0 1px 1px darken($white, 10%), inset 0 1px 0px rgba($white, 0.3)));
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    @include gradient(top, $color-brand, darken($color-brand, 10%));
    line-height: 1.5em;
    margin: 0;
    padding: 0.25em 1em 0.35em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba($black, 0.5);
    @include transition(all 50ms);
    vertical-align: baseline;
    &:hover { @include gradient(top, lighten($color-brand, 10%), darken($color-brand, 10%)); }
    &:active, &:focus {
        background: darken($color-brand, 15%);
        @include box-shadow((0 1px 0 $white, inset 0 0 20px $black));
        color: darken($white, 25%);
        text-shadow: 0 0 0;
    }
    
    // The dark button
    &.contrast {
        border-color: $black;
        @include gradient(top, lighten($black, 40%), $black);
        &:hover { @include gradient(top, lighten($black, 50%), $black); }
        &:active, &:focus {
            background: lighten($black, 20%);
            color: darken($white, 25%);
        }
    }
    
    // The soft grey button
    &.soft {
        border-color: darken($white, 35%);
        color: lighten($black, 30%);
        @include gradient(top, $white, darken($white, 10%));
        text-shadow: 1px 1px 0px $white;
        &:hover {
            border-color: darken($white, 45%);
            color: $black;
            @include gradient(top, $white, #eee);
        }
        &:active, &:focus {
            background: darken($white, 25%);
            border-color: lighten($black, 40%);
            @include box-shadow((0 0 0, inset 0 1px 16px lighten($black, 35%)));
            color: lighten($black, 35%);
            text-shadow: 0 0 0;
        }
    }
    
    &.success {
        border-color: darken($color-success, 20%);
        @include gradient(top, $color-success, darken($color-success, 10%));
        &:hover { @include gradient(top, lighten($color-success, 10%), darken($color-success, 10%)); }
        &:active, &:focus {
            background: darken($color-success, 15%);
        }
    }
    
    &.alert {
        border-color: darken($color-error, 20%);
        @include gradient(top, $color-error, darken($color-error, 10%));
        &:hover { @include gradient(top, lighten($color-error, 10%), darken($color-error, 10%)); }
        &:active, &:focus {
            background: darken($color-error, 15%);
        }
    }
    
    // Add these classes to adjust the size of the buttons
    &.large { font-size: 1.25em; }
    &.small { font-size: 1em; }
    &.tiny { font-size: 0.85em; }
}