/* =========== Buttons */

div.buttons {
    margin-bottom: $margin-bottom;
    overflow: hidden;
    /*padding: 4em;*/
}
        
a.button, a.btn, input[type="submit"], button {
    width: auto;
    border: 1px solid darken($color-brand, 20%);
    @include border-radius(0.2em);
    @include box-shadow((0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba($white, 0.3)));
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    @include gradient(top, $color-brand, darken($color-brand, 10%));
    line-height: 1.5em;
    margin: 0;
    padding: 0.25em 1em 0.4em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0px $black;
    @include transition(all 50ms);
    vertical-align: baseline;
    &:hover {
        border-color: #222;
        @include gradient(top, #777, #111);
    }
    &:active {
        background: #444;
        @include box-shadow((0 0 0, inset 0px 0px 20px $black));
        color: #ccc;
        text-shadow: 0 0 0;
    }
    &.contrast {
        border-color: $black;
        @include gradient(top, lighten($black, 40%), $black);
        &:hover {
            border-color: #222;
            @include gradient(top, #777, #111);
        }
        &:active, &:focus {
            background: #444;
            @include box-shadow((0 0 0, inset 0px 0px 20px $black));
            color: #ccc;
            text-shadow: 0 0 0;
        }
    }
    &.soft {
        border-color: #aaa;
        color: lighten($black, 30%);
        @include gradient(top, $white, #f1f1f1);
        text-shadow: 1px 1px 0px $white;
        &:hover {
            border-color: #666;
            color: #000;
            @include gradient(top, $white, #eee);
        }
        &:active, &:focus {
            background: #ccc;
            border-color: #666;
            @include box-shadow((0 0 0, inset 0px 1px 16px #666));
            color: #666;
            text-shadow: 0 0 0;
        }
    }
    &.large { font-size: 1.25em; }
    &.small { font-size: 1em; }
    &.tiny { font-size: 0.85em; }
}