/* =========== Label */

span.label {
    color: $white;
    font-size: 0.85em;
    padding: 0.1em 0.3em;
    font-weight: bold;
    border: none;
    @include border-radius(0.4em);
    @include gradient(top, lighten($black, 40%), $black);
}