// =========== Layout 



div.container {
    @include clearfix; 
    max-width: $max-width;
    margin: auto;
    padding: 2.5em; // TEMP 
}

// Example for types.html 
header { @include grid(48, 1); }
section { 
    @include clearfix;
    margin-bottom: $margin-bottom;
    @include grid(48, 1);
    
    &.half { @include grid(24, 1); }
    &.one-third { @include grid(16, 1); }
}


// ========================= Responsive ================================== 

// Tablets 
@media only screen and (max-width: 960px) {
    body { font-size: 15px; }
}

// Phones 
@media only screen and (max-width: 520px) {
    body { font-size: 14px; }
    header, div.container section { @include grid-reset; }
}

// Retina 
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    
}