/* =========== Messages */

ul.messages  {
    list-style: none;
    margin-bottom: $margin-bottom;
    li {
        border: 1px solid;
        @include border-radius(0.3em);
        @include box-shadow((0px 1px 1px rgba($black, 0.1), inset 0px 1px 0px rgba($white, 0.4)));
        font-weight: bold;
        margin: 0.25em 0;
        padding: 0.6em;
        text-shadow: 1px 1px 0px rgba($white, 0.4);
        &.success {
            border-color: $color-success;
            color: $color-success;
            @include gradient(top, lighten($color-success, 70%), lighten($color-success, 60%));
        }
        &.error, &.fail {
            border-color: $color-error;
            color: $color-error;
            @include gradient(top, lighten($color-error, 60%), lighten($color-error, 55%));
        }
    }
}