/* =========== Pagination */

ul.pagination {
    font-size: 0.9em;
    margin-bottom: $margin-bottom;
    text-align: center;
    li {
        border: 1px solid #aaa;
        @include border-radius(0.2em);
        @include box-shadow((0px 1px 1px #f1f1f1, inset 0px 1px 0px #fff));
        display: inline-block;
        *float: left;
        font-weight: bold;
        @include gradient(top, #fff, #f1f1f1);
        margin-bottom: 0.25em;
        text-shadow: 1px 1px 0px #fff;
        @include transition(all 0.1s);
        a {
            color: #333;
            display: block;
            padding: 0.25em 0.6em 0.35em 0.6em;
            text-decoration: none;
        }
        &:hover {
            border-color: #666;
            @include gradient(top, #fff, #eee);
            a { color: #000; }
        }
        &:active, &:focus {
            background: #ccc;
            border-color: #666;
            @include box-shadow((0 0 0, inset 0px 1px 16px #666));
            text-shadow: 0 0 0;
            a { color: #666; }
        }
        &.selected { 
            border-color: #333;
            @include box-shadow((0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba(#fff, 0.3)));
            color: #fff;
            @include gradient(top, #666, #111);
            padding: 0.25em 0.6em 0.35em 0.6em;
            text-shadow: 1px 1px 0px #000;
        }
        &.gap {
            background: none;
            border: 0;
            @include box-shadow(0 0 0);
            font-weight: normal;
            padding: 0.25em 0.35em 0.35em 0.35em;
        }
    }
}