/* =========== Panels */

.panel {
    background: darken($white, 5%);
    border: 1px solid darken($white, 15%);
    @include border-radius(0.2em);
    padding: 1em;
    margin-bottom: $margin-bottom;
    &.callout {
        background: $color-brand;
        border-color: darken($color-brand, 20%);
        color: $white;
        text-shadow: 1px 1px 0 rgba($black, 0.5);
    }
}