/* =========== Popover */

div.popover {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    > div {
        background: #fff;
        @include border-radius(0.3em);
        @include box-shadow((0px 0px 20px rgba(#000, 0.6)));
        margin: 40px auto;
        max-width: 800px;
        padding: 1.5em;
        position: relative;
        top: 0;
    }
    
    /* Overlay */
    &:after {
        background: rgba(#000, 0.9);
        content: " ";
        height: 100%;
        opacity: 0.9;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}