/* =========== Media queries */

/*

    Almost everything in Taiga works with em units.
    This way you only need to change the body font on other screen sizes to make everything fit.

/*

/* Tablets */

@media only screen and (max-width: 960px) {
    body { font-size: 14px; }
    form ul li > label { 
        @include grid-reset;
        text-align: left; 
        display: block; 
    }
}

/* Phones */

@media only screen and (max-width: 520px) {
    body { font-size: 13px; }
    div.container article, 
    div.container section { 
        @include grid-reset;
    }
    form ul li > div { @include grid-reset; }
    input[type=text], textarea { width: 100%; }
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    
}