/* =========== Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
body { line-height: 1; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a img { border: none; display: block; overflow: hidden; }
input, textarea, select, button { border: 0; margin: 0; padding: 0; font-family: inherit; font-size: inherit; }
.hidden { display: none !important; }
.hidden, .invisible { visibility: hidden !important; }
.hide { display: none; }
::-moz-selection { background: lighten($black, 10%); color: $white; text-shadow: none; }
::selection { background: lighten($black, 10%); color: $white; text-shadow: none; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner { padding: 0; border: 0; }