/* =========== Tables */

table {
    border: 1px solid #ccc;
    border-collapse: separate;
    *border-collapse: collapse;
    @include border-radius(0.2em);
    border-spacing: 0;
    margin-bottom: $margin-bottom;
    width: 100%;
    thead th {
        font-weight: bold;
        padding: 0.5em;
        text-align: left;
    }
    tbody td {
        border-left: 1px solid darken($white, 25%);
        border-top: 1px solid darken($white, 25%);
        padding: 0.5em;
        &:first-child { border-left: 0; }
        strong { display: block; }
    }
}