{% from 'components/List/List.html' import List %}
{% from 'components/ListItem/ListItem.html' import ListItem %}

{% call List() %}
  {% call ListItem() %}Nice warm brown bread from the big oven{% endcall %}
  {% call ListItem() %}Some candy{% endcall %}
  {% call ListItem() %}Dinner with salmon and spinach{% endcall %}
  {% call ListItem() %}And I love ice cream{% endcall %}
{% endcall %}

{% call List(type='ordered') %}
  {% call ListItem() %}I need chocolate{% endcall %}
  {% call ListItem() %}Chewing gum{% endcall %}
  {% call ListItem() %}Nice lollypop{% endcall %}
{% endcall %}
