/*------------------------------------*\
  #COMPONENTS-LIST
\*------------------------------------*/


/*
 * List
 */
.c-list {
  list-style: none;
  line-height: var(--line-height-30);
  margin: -0.3rem 0 calc(var(--space-default) - 0.3rem) 0;
}


/* List ordered */
.c-list--ordered {

  & .c-list__item {
    counter-increment: list__counter;

    &:before {
      content: counter(list__counter)".";
      top: auto;
      height: none;
      width: none;
      background: none;
    }
  }
}





  /*
   * List item
   */
  .c-list__item {
    padding: .3rem 0 .3rem 2rem;
    position: relative;

    @media (--breakpoint-20) {
      padding-left: 3rem;
    }

    &:before {
      position: absolute;
      left: 0.5rem;
      content: " ";
      top: 0.95rem;
      height: 2px;
      width: 8px;
      background: var(--color-primary-50);

      @media (--breakpoint-20) {
        left: 1.5rem;
      }
    }
  }
