/*------------------------------------*\
  #COMPONENTS-GRID
\*------------------------------------*/

/*
 * Grid
 */
.Grid {
  width: 100%;
  display: grid;
  grid-column-gap: var(--space-default);

  @media(--breakpoint-30) {
    grid-column-gap: var(--space-40);
    grid-row-gap: var(--space-default);
    margin: var(--space-stack-default);
  }
}


/* Thirds */
.Grid___thirds {

  @media(--breakpoint-20) {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Halves */
.Grid___halves {

  @media(--breakpoint-20) {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Sidebar */
.Grid___sidebar {

  @media(--breakpoint-20) {
    grid-template-columns: 1fr 15rem;
  }

  @media(--breakpoint-30) {
    grid-template-columns: 1fr 20rem;
  }
}


/* Single */
.Grid___single {
  margin: auto;
  width: 100%;
  max-width: 70ch;
}





  /*
   * Grid Item
   */
  .Grid_item {
  }
