<div class="c-grid c-grid--thirds">
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
</div>

<div class="c-grid c-grid--halves">
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
</div>

<div class="c-grid c-grid--sidebar">
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
</div>

<div class="c-grid c-grid--single">
  <div class="c-grid__item">
    Dit is mijn grid
  </div>
</div>
