/*------------------------------------*\
  #LAYOUT-GRID
\*------------------------------------*/

/*
 * Add your own grid items
 */
.c-grid {

}

/* Columns */
.c-grid--3 {

  @media (--breakpoint-10) {
    lost-column: 3/12;
  }
}

.c-grid--4 {

  @media (--breakpoint-10) {
    lost-column: 4/12;
  }
}

.c-grid--6 {

  @media (--breakpoint-10) {
    lost-column: 6/12;
  }
}

.c-grid--8 {

  @media (--breakpoint-10) {
    lost-column: 8/12;
  }
}

.c-grid--9 {

  @media (--breakpoint-10) {
    lost-column: 9/12;
  }
}

/* Types */
.c-grid--single {
  max-width: 36rem;
  margin: auto;
  clear: both;
}
