<div class="Grid Grid___thirds">
  <div class="Grid_item">
    Dit is mijn grid
  </div>
  <div class="Grid_item">
    Dit is mijn grid
  </div>
  <div class="Grid_item">
    Dit is mijn grid
  </div>
</div>

<div class="Grid Grid___halves">
  <div class="Grid_item">
    Dit is mijn grid
  </div>
  <div class="Grid_item">
    Dit is mijn grid
  </div>
</div>

<div class="Grid Grid___sidebar">
  <div class="Grid_item">
    Dit is mijn grid
  </div>
  <div class="Grid_item">
    Dit is mijn grid
  </div>
</div>

<div class="Grid Grid___single">
  <div class="Grid_item">
    Dit is mijn grid
  </div>
</div>
