
<div class="c-article">
  <h1>We want more of this</h1>

  <p>Op zoek naar een designer die de waarom-vraag stelt, technisch meedenkt en prachtige producten maakt? Ik kan je helpen.</p>

  <p>Product Strategy. Ondersteuning nodig bij het bepalen van je productvisie- en strategie? Met mijn ervaring in ondernemen, startups en art direction begeleidt ik in het proces.
  Interface Design. Zoek je design dat de verwachtingen van je gebruikers overtreft? Ik ontwerp webapplicaties, websites en apps die mensen willen gebruiken. Samen bepalen we doelen en werken we stap voor stap naar een prachtig en bruikbaar resultaat.</p>

  <h2>About users and stuff</h2>

  <p>CSS Architecture. Vaak valt het tegen als een ontwerp omgezet wordt naar code. Mijn ontwerpen kan ik vertalen naar component-based HTML/CSS. Op deze manier krijg je het meest nette product waarbij viewports, animaties, performance en details perfect op elkaar aansluiten.</p>

  <p><small>I'm just nog going to tell you</small></p>
</div>
