// =========== Product

// This is an example of a module.
// A module is directly connected to the content like a product, blog-article or shopping-cart.


// Module
.product {

  // 1: Add the direct properties of the element
  property: value;

  // 2: Add media queries or print styles
  @media (min-width: $breakpoint-10) { property: value; }

  // 3: Add selectors of the parent element
  &:hover { property: value; }

  // 4: Add states of the parent element
  &.is-open { property: value; }

  // 5: Add nested elements
  strong { property: value; }
}

// Submodule
.product__details { property: value; }
