/*------------------------------------*\
  #COMPONENTS-CONTAINER
\*------------------------------------*/

/*
 * Build up your container to get your website centered
 */
.c-container {
  margin: auto;
  max-width: var(--max-width);
  padding: var(--space-inset-default);
  position: relative;

  @media (--breakpoint-20) {
    padding: var(--space-inset-40);
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
