/*------------------------------------*\
  #LAYOUT-CONTAINERS
\*------------------------------------*/

/*
 * Build up your container to get your website centered
 */
.c-container {
  margin: auto;
  max-width: var(--max-width);
  padding: var(--spacing) var(--spacing) 0.1px var(--spacing);
  position: relative;
  lost-utility: clearfix;

  @media (--breakpoint-20) {
    padding: calc(var(--spacing) * 2);
    padding-bottom: var(--spacing);
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
