{% from 'components/Paragraph/Paragraph.html' import Paragraph %}

{% call Paragraph(type='large') %} The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind. {% endcall %}

{% call Paragraph() %} The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind. {% endcall %}

{% call Paragraph(type='small') %} The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind. {% endcall %}
