/*------------------------------------*\
  #COMPONENTS-PARAGRAPH
\*------------------------------------*/

.c-paragraph--large {
  font-size: var(--font-size-50);
  line-height: 1.5em;
  font-weight: 300;
}

.c-paragraph--small {
  font-size: var(--font-size-20);
  color: var(--color-neutral-50);
}
