<p class="Paragraph Paragraph___large">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>

<p class="Paragraph">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>

<p class="Paragraph Paragraph___small">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>
