/*------------------------------------*\
  #COMPONENTS-PARAGRAPH
\*------------------------------------*/


/*
 * Paragraph
 */
.Paragraph {

}


/* Paragraph large */
.Paragraph___large {
  font-size: var(--font-size-50);
  line-height: var(--line-height-30);
  font-weight: 300;
}


/* Paragraph small */
.Paragraph___small {
  font-size: var(--font-size-20);
  color: var(--color-neutral-50);
}
