<p class="c-paragraph c-paragraph--large">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>

<p class="c-paragraph">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>

<p class="c-paragraph c-paragraph--small">
  The release of atom power has changed everything except our way of thinking...the solution to this problem lies in the heart of mankind.
</p>
