// =========== Forms

input[type=search] { -webkit-appearance: textfield; }

input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $color-neutral-30;
  border-radius: $border-radius-10;
  color: inherit;
  display: block;
  font-family: $font-family-body;
  font-size: $font-size-30;
  line-height: 1.5em;
  margin: 0;
  padding: 0.5rem;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    border: 1px solid $color-neutral-50;
    box-shadow: 0px 0px 3px rgba($black, 0.1);
    outline: 0;
  }
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

select {
  -webkit-appearance: menulist;
  height: 2.85rem;

  &[multiple] {
    -webkit-appearance: none;
    height: auto;
  }
}

select

form {  }

fieldset {  }

legend {
  border: 0;
  display: block;
}

ul.form {
  list-style: none;
  margin: 0 0 $spacing 0;

  > li { @include grid-container; }

  > li > label {
    clear: left;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-top: 0.5rem;
    text-align: left;

    @media (min-width: $breakpoint-10) {
      @include grid(16, 0, 1);
    }

    &:hover { color: $color-neutral-90; }
  }

  div.form__fields {
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-10) {
      @include grid(32);
    }

    p, small {
      display: block;
      margin: 0.25rem 0;
    }

    p.form__description { margin: 0.5rem 0; }
  }
}

ul.form__checklist {
  list-style: none;
  margin: 0.5rem 0;

  li { margin: 0.5rem 0; }

  input { margin-right: 0.5rem; }

  label {
    cursor: pointer;

    &:hover { color: $color-neutral-90; }
  }
}

li.form__error {

  label {
    color: $color-alert-50;

    &:hover { color: $color-alert-70; }
  }

  input,
  input:focus {
    border: 1px solid $color-alert-50;
    box-shadow: 0px 0px 3px $color-alert-50;
  }

  ul.form__errors {
    color: $color-alert-50;
    list-style: none;
    margin: 0.25rem 0;

    li { font-size: $font-size-20; }
  }
}
