// =========== Tabs

div.tabs {
  text-align: center;

  ul {
    background: $color-neutral-30;
    border-radius: $border-radius-10;
    display: inline-block;
    list-style: none;
    margin: 0;
    text-align: center;
    @include grid-container;
  }

  li {
    float: left;

    &:first-child a { border-radius: $border-radius-10 0 0 $border-radius-10; }

    &:last-child a { border-radius: 0 $border-radius-10 $border-radius-10 0; }

    &:only-child a { border-radius: $border-radius-10; }
  }

  a {
    color: $color-neutral-70;
    display: block;
    padding: 0.5rem 0.75rem;

    &:hover {
      background: $color-neutral-50;
      color: $color-neutral-70;
    }

    &:active,
    &:focus {
      box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
  }

  li.is-selected a {
    background: $color-primary-50;
    color: $white;
    font-weight: bold;

    &:hover {
      background: $color-primary-70;
      color: $white;
    }

    &:active,
    &:focus {
      box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
  }
}
