<div class="Layout">

  <div class="Layout_row">

    <div class="Layout_container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="Layout_row Layout_row___primary">

    <div class="Layout_container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="Layout_row Layout_row___neutral">

    <div class="Layout_container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="Layout_row Layout_row___line">

    <div class="Layout_container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

</div>
