<div class="c-layout">

  <div class="c-layout__row">

    <div class="c-layout__container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="c-layout__row c-layout__row--primary">

    <div class="c-layout__container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="c-layout__row c-layout__row--neutral">

    <div class="c-layout__container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

  <div class="c-layout__row c-layout__row--line">

    <div class="c-layout__container">
      <p>Nice warm brown bread from the big oven.</p>
    </div>

  </div>

</div>
