/*------------------------------------*\
  #COMPONENTS-LAYOUT
\*------------------------------------*/

/*
 * Layout
 */
.c-layout {
  clear: both;
}





  /*
   * Layout Row
   */
  .c-layout__row {

  }


  /* Full height */
  .c-layout__row--full-height {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 80vmin;
  }


  /* Primary background */
  .c-layout__row--primary {
    background: var(--color-primary-50);
  }


  /* Neutral background */
  .c-layout__row--neutral {
    background: var(--color-neutral-10);
  }


  /* Line */
  .c-layout__row--line {
    border-bottom: 1px solid var(--color-neutral-10);
  }





  /*
   * Layout Container
   */
  .c-layout__container {
    margin: auto;
    max-width: var(--max-width);
    padding: var(--space-inset-default);
    position: relative;

    @media (--breakpoint-20) {
      padding: var(--space-inset-40);
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
