/*------------------------------------*\
  #COMPONENTS-LAYOUT
\*------------------------------------*/

/*
 * Layout
 */
.Layout {
  clear: both;
}





  /*
   * Layout Row
   */
  .Layout_row {

  }


  /* Full height */
  .Layout_row___full-height {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 80vmin;
  }


  /* Primary background */
  .Layout_row___primary {
    background: var(--color-primary-50);
  }


  /* Neutral background */
  .Layout_row___neutral {
    background: var(--color-neutral-10);
  }


  /* Line */
  .Layout_row___line {
    border-bottom: 1px solid var(--color-neutral-10);
  }





  /*
   * Layout Container
   */
  .Layout_container {
    margin: auto;
    max-width: var(--max-width);
    padding: var(--space-inset-default);
    position: relative;

    @media (--breakpoint-20) {
      padding: var(--space-inset-40);
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
