/*------------------------------------*\
  #COMPONENTS-FORM-RADIOBUTTON
\*------------------------------------*/

.c-form-radiobutton {

  & input {
    display: none;
  }

  & label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-neutral-10);
    border: 1px solid var(--color-neutral-30);
    display: flex;
    cursor: pointer;

    &:before {
      content: " ";
      height: 12px;
      width: 12px;
      margin: auto;
      background: var(--color-primary-50);
      border-radius: 50%;
      display: none;
    }
  }

  & input:checked + label:before {
    display: block;
  }
}
