/*------------------------------------*\
  #COMPONENTS-FORM-RADIOBUTTON
\*------------------------------------*/

.c-form-radiobutton {

  & input {
    display: none;
  }

  & label {
    height: var(--space-30);
    width: var(--space-30);
    border-radius: 50%;
    background: var(--color-neutral-10);
    border: 1px solid var(--color-neutral-30);
    display: flex;
    cursor: pointer;

    &:before {
      content: " ";
      height: var(--space-20);
      width: var(--space-20);
      margin: auto;
      background: var(--color-primary-50);
      border-radius: 50%;
      display: none;
    }
  }

  & input:checked + label:before {
    display: block;
  }
}
