/*------------------------------------*\
  #COMPONENTS-WRAPPERS
\*------------------------------------*/

/*
 * Get full width backgrounds around your content
 */
.c-wrapper {
  clear: both;
}


/*
 * Options to change the layout of the wrapper
 */
.c-wrapper--full-height {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 80vmin;
}


/*
 * Set up different backgrounds
 */
.c-wrapper--image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-wrapper--neutral {
  background: var(--color-neutral-10);
}
