/*------------------------------------*\
  #COMPONENTS-CARD
\*------------------------------------*/


/*
 * Card
 */
.Card {
  border-radius: var(--border-radius-default);
  overflow: hidden;
  margin: var(--space-stack-default);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
}


/* White */
.Card___white {
  background: var(--color-neutral-0);
  box-shadow: var(--box-shadow-30);
}


/* Neutral */
.Card___neutral {
  background: var(--color-neutral-10);
}





  /*
   * Content
   */
  .Card_content {
    padding: var(--space-inset-default);
  }

  .cq-10 .Card_content {
    padding: var(--space-inset-50);
  }
