<p>
  <span class="c-icon c-icon--large"><svg role="img"><title>Print</title><use xlink:href="#icon-print"></use></svg></span>
</p>

<p>
  <span class="c-icon"><svg role="img"><title>Print</title><use xlink:href="#icon-print"></use></svg></span>
</p>

<p>
  <a href=""><span class="c-icon"><svg role="img"><title>Print</title><use xlink:href="#icon-print"></use></svg></span> Print this document</a>
</p>

<p>
  <a href="">Go to link <span class="c-icon"><svg role="img"><title>Arrow</title><use xlink:href="#icon-arrow-forward"></use></svg></span></a>
</p>
