/*------------------------------------*\
  #COMPONENTS-ICONS
\*------------------------------------*/

.c-icon {
  height: 1.25em;
  width: 1.25em;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  position: relative;
  top: -0.05em;

  & svg {
    fill: currentColor;
  }
}
