/*------------------------------------*\
  #COMPONENTS-NAVIGATION
\*------------------------------------*/


/*
 * Navigation
 */
.Navigation {
  display: flex;
  justify-content: space-between;
}





  /*
   * Logo
   */
  .Navigation_logo {
    font-weight: 500;
    padding: 0.75rem;
    padding-left: 0;

    & a {
      color: var(--color-neutral-90);
      text-decoration: none;
    }
  }





  /*
   * Navigation items
   */
  .Navigation_items {
    display: flex;
    list-style: none;
  }




  /*
   * Navigation item
   */
  .Navigation_item {

    &:last-child a {
      padding-right: 0;
    }

    & a {
      text-decoration: none;
      padding: 0.75rem;
      display: block;
      font-weight: 500;

      &:hover {
        color: var(--color-primary-70);
      }
    }
  }


  /* Navigation item selected */
  .Navigation_item___selected a {
    color: var(--color-primary-70);
  }
