/*------------------------------------*\
  #COMPONENTS-FORM-CHECKBOX
\*------------------------------------*/

.c-form-checkbox {

  & input {
    display: none;
  }

  & label {
    height: var(--space-30);
    width: var(--space-30);
    border-radius: var(--border-radius-10);
    background: var(--color-neutral-10);
    border: 1px solid var(--color-neutral-30);
    display: flex;
    cursor: pointer;

    &:before {
      content: " ";
      height: var(--space-30);
      width: var(--space-30);
      margin: auto;
      content: "\2714";
      color: var(--color-primary-50);
      line-height: 0.8;
      border-radius: 50%;
      display: none;
    }
  }

  & input:checked + label:before {
    display: block;
  }
}
