/*------------------------------------*\
  #COMPONENTS-HEADING
\*------------------------------------*/


/*
 * Heading
 */
.Heading {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-50);
  line-height: var(--line-height-default);
}


/* Small */
.Heading___10 {
  font-size: var(--font-size-40);
}


/* Default */
.Heading___20 {

}


/* Large */
.Heading___30 {
  font-size: var(--font-size-60);
}
