/*------------------------------------*\
  #COMPONENTS-HEADING
\*------------------------------------*/


/*
 * Heading
 */
.c-heading {
  font-family: var(--font-family-a);
  font-size: var(--font-size-40);
  font-weight: 600;
  line-height: var(--line-height-default);
}


/* Small */
.c-heading--10 {
  font-size: var(--font-size-20);
}


/* Default */
.c-heading--20 {

}


/* Large */
.c-heading--30 {
  font-size: var(--font-size-50);
}
