// =========== Examples

@import "../stylesheets/styles.scss";

div.l-examples {
    @extend .l-container;
    max-width: 800px;
}

.l-example-container {
    padding: 0.75em;
    background: lighten($gray, 10%);
    border-radius: $border-radius;
    @include clearfix;
}