// =========== Colors

// Colors
// Add your own color variables from light to dark.

// Color primary
$color-primary-30: #29c882;
$color-primary-50: #09a25f; // Default
$color-primary-70: #038049;

// Color secondary
$color-secondary-50: #E77E37; // Default

// Color success
$color-success-50: #39b924; // Default
$color-success-70: #249c11;

// Color alert
$color-alert-50: #f3490d; // Default
$color-alert-70: #d33e09;

// Color neutral
$color-neutral-10: #eef2f0;
$color-neutral-30: #ccd6d2;
$color-neutral-50: #8d9994;
$color-neutral-70: #3f4542;
$color-neutral-90: #232725;

// Color basics
$black: #000;
$white: #fff;
