/* ========================= Variables ================================== */
/* ========================= Basic includes ============================= */
/* =========== Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a img {
  border: none;
  display: block;
  overflow: hidden; }

input, textarea, select, button {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit; }

.hidden {
  display: none !important; }

.hidden, .invisible {
  visibility: hidden !important; }

::-moz-selection {
  background: #262626;
  color: white;
  text-shadow: none; }

::selection {
  background: #262626;
  color: white;
  text-shadow: none; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* =========== Mixins */
@font-face {
  font-family: 'fontName';
  src: url("fontName.eot?") format("eot"), url("fontName.woff") format("woff"), url("fontName.ttf") format("truetype"); }

/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* ========================= General tags =============================== */
html {
  color: #404040;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 15px; }

body {
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.25em; }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

p {
  margin-bottom: 1.25em; }
  p.lead {
    font-size: 1.15em;
    line-height: 1.5em; }

a {
  color: #40582b;
  text-decoration: underline; }
  a:hover {
    color: black; }

small {
  font-size: 0.85em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

code, pre {
  font-family: monospace; }

del {
  text-decoration: line-through; }

hr {
  background-color: white;
  border: 1px solid transparent;
  border-top: 1px solid #cccccc;
  clear: both;
  margin: 2em 1.25em; }

blockquote {
  border-left: 4px solid #cccccc;
  color: #999999;
  font-style: italic;
  margin-bottom: 1.25em;
  padding: 0 1em 0 1em; }

figure {
  display: inline-block;
  max-width: 100%; }
  figure img {
    display: block;
    width: 100%; }

ul.list {
  list-style: disc;
  margin: 0 0 1.25em 2.5em; }
  ul.list li {
    margin: 0.5em 0; }

/* ========================= Structure ================================== */
div.container {
  *zoom: 1;
  max-width: 64em;
  margin: auto;
  padding: 2.5em;
  /* TEMP */ }
  div.container:before, div.container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  div.container:after {
    clear: both; }

/* Example for types.html */
section,
article {
  *zoom: 1;
  margin-bottom: 1.25em; }
  section:before, section:after,
  article:before,
  article:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  section:after,
  article:after {
    clear: both; }
  section.whole,
  article.whole {
    float: left;
    width: 95.833%;
    margin-left: 2.083%;
    margin-right: 2.083%; }
  section.half,
  article.half {
    float: left;
    width: 45.833%;
    margin-left: 2.083%;
    margin-right: 2.083%; }
  section.one-third,
  article.one-third {
    float: left;
    width: 29.167%;
    margin-left: 2.083%;
    margin-right: 2.083%; }
  section.one-fourth,
  article.one-fourth {
    float: left;
    width: 20.833%;
    margin-left: 2.083%;
    margin-right: 2.083%; }

/* ========================= Includes =================================== */
/* =========== Types */
/* =========== Forms */
input, textarea, select {
  border: 1px solid #999999;
  color: #666666;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  margin: -1px 0.5em 0px 0px;
  padding: 0.6em;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
  vertical-align: baseline; }
  input:focus, textarea:focus, select:focus {
    border: 1px solid #666666;
    outline: 0;
    color: black;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5); }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

form legend {
  display: block;
  margin-bottom: 0.25em;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.6em; }
form ol {
  clear: both;
  list-style: none;
  margin-bottom: 1.25em; }
  form ol > li > label {
    clear: left;
    cursor: pointer;
    font-weight: bold;
    float: left;
    width: 31.25%;
    margin-left: 0%;
    margin-right: 2.083%;
    padding-top: 0.55em;
    text-align: right; }
    form ol > li > label:hover {
      color: black; }
  form ol > li div {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0.5em; }
    form ol > li div p, form ol > li div small {
      display: block;
      margin: 0.6em 0.6em 0.25em 0px; }
    form ol > li div small {
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0.25em; }
    form ol > li div ul.checklist {
      margin: 0.6em 0.6em 0.6em 0px; }
      form ol > li div ul.checklist li {
        margin: 0.5em 0; }
      form ol > li div ul.checklist input {
        display: inline-block; }
      form ol > li div ul.checklist label:hover {
        color: black;
        cursor: pointer; }
  form ol li.error label {
    color: #f46556; }
    form ol li.error label:hover {
      color: #a61a0b; }
  form ol li.error input {
    border: 1px solid #f46556;
    -webkit-box-shadow: 0px 0px 6px #f79186, inset 0 0 0;
    -moz-box-shadow: 0px 0px 6px #f79186, inset 0 0 0;
    box-shadow: 0px 0px 6px #f79186, inset 0 0 0; }
    form ol li.error input:focus {
      border: 1px solid #a61a0b; }
  form ol li.error ul.errors {
    color: #f46556;
    margin: 0.6em 0.6em 0.6em 0px; }
    form ol li.error ul.errors li {
      margin: 0.5em 0; }

/* =========== Buttons */
div.buttons {
  margin-bottom: 1.25em;
  overflow: hidden;
  padding: 4em; }

a.button, input[type="submit"], button {
  border: 1px solid #333333;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  color: #e6e6e6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #1a1a1a;
  background-image: -webkit-linear-gradient(top, #666666, #1a1a1a);
  background-image: -moz-linear-gradient(top, #666666, #1a1a1a);
  background-image: -ms-linear-gradient(top, #666666, #1a1a1a);
  background-image: -o-linear-gradient(top, #666666, #1a1a1a);
  background-image: linear-gradient(top, #666666, #1a1a1a);
  line-height: 1.5em;
  margin: 0;
  padding: 0.35em 1em 0.5em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
  vertical-align: baseline; }
  a.button:hover, input[type="submit"]:hover, button:hover {
    border: 1px solid #0d0d0d;
    color: white;
    background-color: #333333;
    background-image: -webkit-linear-gradient(top, #666666, #333333);
    background-image: -moz-linear-gradient(top, #666666, #333333);
    background-image: -ms-linear-gradient(top, #666666, #333333);
    background-image: -o-linear-gradient(top, #666666, #333333);
    background-image: linear-gradient(top, #666666, #333333); }
  a.button:active, input[type="submit"]:active, button:active {
    background: #4d4d4d;
    -webkit-box-shadow: 0 0 0, inset 0px 0px 20px #1a1a1a;
    -moz-box-shadow: 0 0 0, inset 0px 0px 20px #1a1a1a;
    box-shadow: 0 0 0, inset 0px 0px 20px #1a1a1a;
    color: #999999;
    text-shadow: 0 0 0; }
  a.button.soft, input[type="submit"].soft, button.soft {
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    color: #4d4d4d;
    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: linear-gradient(top, #fcfcfc, #ebebeb);
    text-shadow: 1px 1px 0px white;
    -webkit-transition: border 0.9s;
    -moz-transition: border 0.9s;
    -o-transition: border 0.9s;
    transition: border 0.9s; }
    a.button.soft:hover, input[type="submit"].soft:hover, button.soft:hover {
      border: 1px solid gray;
      color: black;
      background-color: #ebebeb;
      background-image: -webkit-linear-gradient(top, white, #ebebeb);
      background-image: -moz-linear-gradient(top, white, #ebebeb);
      background-image: -ms-linear-gradient(top, white, #ebebeb);
      background-image: -o-linear-gradient(top, white, #ebebeb);
      background-image: linear-gradient(top, white, #ebebeb); }
    a.button.soft:active, a.button.soft:focus, input[type="submit"].soft:active, input[type="submit"].soft:focus, button.soft:active, button.soft:focus {
      background: #d9d9d9;
      border: 1px solid #333333;
      -webkit-box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      -moz-box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      color: #666666;
      text-shadow: 0 0 0; }

/* =========== Tables */
table {
  border: 1px solid #cccccc;
  border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border-spacing: 0;
  margin-bottom: 1.25em;
  width: 100%; }
  table thead th {
    font-weight: bold;
    padding: 0.75em 2.083%;
    text-align: left; }
  table tbody td {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 0.75em 2.083%; }
    table tbody td:first-child {
      border-left: 0; }
    table tbody td strong {
      display: block; }

/* =========== Tabs */
ul.tabs {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.25em; }
  ul.tabs li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-bottom: -2px;
    position: relative; }
  ul.tabs a {
    border: 1px solid transparent;
    color: #595959;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none; }
    ul.tabs a:hover {
      border-left: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid transparent;
      -webkit-border-radius: 0.3em 0.3em 0px 0px;
      -moz-border-radius: 0.3em 0.3em 0px 0px;
      -ms-border-radius: 0.3em 0.3em 0px 0px;
      -o-border-radius: 0.3em 0.3em 0px 0px;
      border-radius: 0.3em 0.3em 0px 0px;
      color: #262626; }
  ul.tabs li.selected a {
    background: white;
    border: 1px solid #cccccc;
    border-bottom-color: white;
    -webkit-border-radius: 0.3em 0.3em 0px 0px;
    -moz-border-radius: 0.3em 0.3em 0px 0px;
    -ms-border-radius: 0.3em 0.3em 0px 0px;
    -o-border-radius: 0.3em 0.3em 0px 0px;
    border-radius: 0.3em 0.3em 0px 0px;
    color: #262626;
    font-weight: bold;
    padding: 0.70em 1em 0.75em 1em; }

ul.steps {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.25em; }
  ul.steps li {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  ul.steps a {
    color: #595959;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none; }
  ul.steps li.completed a {
    color: #262626; }
  ul.steps li:hover a {
    color: #262626; }
  ul.steps li.selected a {
    color: #262626;
    font-weight: bold; }

/* =========== Messages */
ul.messages {
  list-style: none;
  margin-bottom: 1.25em; }
  ul.messages li {
    border: 1px solid;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
    font-weight: bold;
    margin: 0.25em 0;
    padding: 0.5em 0.6em 0.6em 0.6em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }
    ul.messages li.success {
      border-color: #40582b;
      color: #40582b;
      background-color: #dae7ce;
      background-image: -webkit-linear-gradient(top, #f4f8f0, #dae7ce);
      background-image: -moz-linear-gradient(top, #f4f8f0, #dae7ce);
      background-image: -ms-linear-gradient(top, #f4f8f0, #dae7ce);
      background-image: -o-linear-gradient(top, #f4f8f0, #dae7ce);
      background-image: linear-gradient(top, #f4f8f0, #dae7ce); }
    ul.messages li.error, ul.messages li.fail {
      border-color: #a61a0b;
      color: #a61a0b;
      background-color: #fcd2ce;
      background-image: -webkit-linear-gradient(top, #fde8e6, #fcd2ce);
      background-image: -moz-linear-gradient(top, #fde8e6, #fcd2ce);
      background-image: -ms-linear-gradient(top, #fde8e6, #fcd2ce);
      background-image: -o-linear-gradient(top, #fde8e6, #fcd2ce);
      background-image: linear-gradient(top, #fde8e6, #fcd2ce); }

/* =========== Pagination */
ul.pagination {
  font-size: 0.9em;
  margin-bottom: 1.25em;
  text-align: center; }
  ul.pagination li {
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px white;
    display: inline-block;
    *float: left;
    font-weight: bold;
    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
    background-image: linear-gradient(top, #fcfcfc, #ebebeb);
    margin-bottom: 0.25em;
    text-shadow: 1px 1px 0px white;
    -webkit-transition: border 0.1s;
    -moz-transition: border 0.1s;
    -o-transition: border 0.1s;
    transition: border 0.1s; }
    ul.pagination li a {
      color: #4d4d4d;
      display: block;
      padding: 0.25em 0.6em 0.35em 0.6em;
      text-decoration: none; }
    ul.pagination li:hover {
      border: 1px solid gray;
      background-color: #ebebeb;
      background-image: -webkit-linear-gradient(top, white, #ebebeb);
      background-image: -moz-linear-gradient(top, white, #ebebeb);
      background-image: -ms-linear-gradient(top, white, #ebebeb);
      background-image: -o-linear-gradient(top, white, #ebebeb);
      background-image: linear-gradient(top, white, #ebebeb); }
      ul.pagination li:hover a {
        color: black; }
    ul.pagination li:active, ul.pagination li:focus {
      background: #d9d9d9;
      border: 1px solid #333333;
      -webkit-box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      -moz-box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      box-shadow: 0 0 0, inset 0px 0px 20px #999999;
      text-shadow: 0 0 0; }
      ul.pagination li:active a, ul.pagination li:focus a {
        color: #666666; }
    ul.pagination li.selected {
      border: 1px solid #333333;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
      color: #e6e6e6;
      background-color: #1a1a1a;
      background-image: -webkit-linear-gradient(top, #666666, #1a1a1a);
      background-image: -moz-linear-gradient(top, #666666, #1a1a1a);
      background-image: -ms-linear-gradient(top, #666666, #1a1a1a);
      background-image: -o-linear-gradient(top, #666666, #1a1a1a);
      background-image: linear-gradient(top, #666666, #1a1a1a);
      padding: 0.25em 0.6em 0.35em 0.6em;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75); }
    ul.pagination li.gap {
      background: none;
      border: 0;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
      font-weight: normal;
      padding: 0.25em 0.35em 0.35em 0.35em; }

/* =========== Popover */
div.popover {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Overlay */ }
  div.popover > div {
    background: white;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    margin: 40px auto;
    max-width: 800px;
    padding: 1.5em;
    position: relative;
    top: 0; }
  div.popover:after {
    background: rgba(0, 0, 0, 0.9);
    content: " ";
    height: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1; }

/* =========== Icons */
.ico {
  display: inline-block;
  float: left;
  height: 16px;
  margin: 0.1em 0.4em 0 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px; }
  .ico.icon {
    background: url("../images/icons.png") 0px 0px no-repeat; }

/* =========== Media queries */
/* =========== Media queries */
/*

    Almost everything in Taiga works with em units.
    This way you only need to change the body font on other screen sizes to make everything fit.

/*

/* Tablets */
@media only screen and (max-width: 960px) {
  body {
    font-size: 14px; }

  form ol li > label {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    text-align: left;
    display: block; } }
/* Phones */
@media only screen and (max-width: 520px) {
  body {
    font-size: 13px; }

  div.container article,
  div.container section {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto; }

  form ol li > div {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto; }

  input[type=text], textarea {
    width: 100%; } }
/* Retina */
/* =========== Print */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 2cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  .container a {
    display: none; } }
