/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
/* The clearfix mixin is necessary for the floats */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html {
  color: #454545;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  line-height: 1.5em; }

@font-face {
  font-family: 'fontName';
  src: url("../fonts/fontName.eot?") format("eot"), url("../fonts/fontName.woff") format("woff"), url("../fonts/fontName.ttf") format("truetype"); }

.hidden {
  display: none !important; }

.hidden, .invisible {
  visibility: hidden !important; }

::-moz-selection {
  background: #1f1f1f;
  color: white;
  text-shadow: none; }

::selection {
  background: #1f1f1f;
  color: white;
  text-shadow: none; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 0.25em 0; }
  h1.soft, h2.soft, h3.soft, h4.soft, h5.soft, h6.soft {
    font-weight: 300;
    color: #858585; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.05em; }

h6 {
  font-size: 1em; }

p {
  margin-bottom: 1.25em; }
  p.lead {
    font-size: 1.2em;
    line-height: 1.5em; }

a {
  color: #0e8a41;
  text-decoration: none; }
  a:hover {
    color: black; }

small {
  font-size: 0.85em;
  color: #858585; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

code, pre {
  font-family: 'courier new', monospace; }

abbr {
  border-bottom: 1px dotted #858585; }

del {
  text-decoration: line-through; }

mark {
  background-color: #ffffb3; }

hr {
  background-color: transparent;
  border: solid #bfbfbf;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 1.25em; }

blockquote {
  quotes: none;
  color: #858585;
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 1.25em;
  padding: 0 0 0 2em;
  position: relative; }
  blockquote:before {
    color: #c4c4c4;
    content: "\201C";
    display: block;
    font-size: 5em;
    left: -0.15em;
    position: absolute;
    top: 0.25em; }
  blockquote cite {
    color: #5e5e5e;
    display: block;
    font-size: 0.85em; }
    blockquote cite:before {
      content: "\2014 \0020"; }

figure {
  display: inline-block;
  width: 100%; }
  figure img {
    display: block;
    width: 100%; }
  figure figcaption {
    color: blue; }

ul, ol {
  margin: 0 0 1.25em 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

dl {
  margin-bottom: 1.25em; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin-left: 1.25em; }
  dl.advanced dt {
    float: left;
    width: 31.25%;
    margin-left: 0%;
    margin-right: 2.08333%; }
  dl.advanced dd {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%; }

div.container {
  *zoom: 1;
  max-width: 60em;
  margin: auto;
  padding: 2.5em; }
  div.container:before, div.container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  div.container:after {
    clear: both; }

header {
  float: left;
  width: 95.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }

section {
  *zoom: 1;
  margin-bottom: 1.25em;
  float: left;
  width: 95.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }
  section:before, section:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  section:after {
    clear: both; }
  section.half {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  section.one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }

@media only screen and (max-width: 960px) {
  body {
    font-size: 15px; } }
@media only screen and (max-width: 520px) {
  body {
    font-size: 14px; }

  header, div.container section {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto; } }
input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=text], input[type=number], input[type=search], input[type=email], input[type=tel], input[type=url], textarea, select {
  border: 1px solid #bfbfbf;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: inherit;
  line-height: 1.5em;
  margin: -1px 0.5em 0 0;
  padding: 0.6em;
  width: 100%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1);
  -moz-box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1);
  -o-box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1);
  box-shadow: inset 0px 1px 3px rgba(5, 5, 5, 0.1);
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
  vertical-align: baseline; }
  input[type=text]:focus, input[type=number]:focus, input[type=search]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=url]:focus, textarea:focus, select:focus {
    border: 1px solid #a6a6a6;
    outline: 0;
    color: #333;
    -webkit-box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3);
    -o-box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3);
    box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.3); }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
  display: block; }

legend {
  border: 0;
  display: block;
  margin-bottom: 0.25em;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.6em; }

ul.form {
  clear: both;
  list-style: none;
  margin: 0 0 1.25em 0; }
  ul.form > li > label {
    clear: left;
    cursor: pointer;
    font-weight: bold;
    float: left;
    width: 31.25%;
    margin-left: 0%;
    margin-right: 2.08333%;
    padding-top: 0.55em;
    text-align: right; }
    ul.form > li > label:hover {
      color: #050505; }
  ul.form > li > div {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0.5em; }
    ul.form > li > div p, ul.form > li > div small {
      display: block;
      margin: 0.6em 0.6em 0.25em 0px; }

ul.form-checklist {
  list-style: none;
  margin: 0.6em 0; }
  ul.form-checklist li {
    margin: 0.5em 0; }
  ul.form-checklist input {
    display: inline-block;
    margin-right: 0.5em; }
  ul.form-checklist label {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    font-weight: normal; }
    ul.form-checklist label:hover {
      color: #000;
      cursor: pointer; }

li.form-error label {
  color: #d24226; }
  li.form-error label:hover {
    color: #662012; }
li.form-error input {
  border: 1px solid #d24226;
  -webkit-box-shadow: 0px 0px 3px #df644c, inset 0 0 0;
  -moz-box-shadow: 0px 0px 3px #df644c, inset 0 0 0;
  -o-box-shadow: 0px 0px 3px #df644c, inset 0 0 0;
  box-shadow: 0px 0px 3px #df644c, inset 0 0 0; }
  li.form-error input:focus {
    border: 1px solid #d24226; }
li.form-error ul.form-errors {
  color: #d24226;
  list-style: none;
  margin: 0.6em 0; }
  li.form-error ul.form-errors li {
    margin: 0.5em 0; }

@media only screen and (max-width: 520px) {
  ul.form > li > label {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    text-align: left;
    display: block; }

  ul.form > li > div {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: auto; }

  input[type=text], textarea {
    width: 100%; } }
table {
  border: 1px solid #ccc;
  border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  border-spacing: 0;
  margin-bottom: 1.25em;
  width: 100%; }

thead th {
  font-weight: bold;
  padding: 0.5em;
  text-align: left; }

tbody td {
  border-left: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  padding: 0.5em; }
  tbody td:first-child {
    border-left: 0; }
  tbody td strong {
    display: block; }

/* =========== Label */
span.label {
  border: none;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  background-color: #050505;
  background-image: -webkit-linear-gradient(top, #6b6b6b, #050505);
  background-image: -moz-linear-gradient(top, #6b6b6b, #050505);
  background-image: -ms-linear-gradient(top, #6b6b6b, #050505);
  background-image: -o-linear-gradient(top, #6b6b6b, #050505);
  background-image: linear-gradient(top, #6b6b6b, #050505);
  padding: 0.1em 0.3em; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

div.buttons, ul.buttons {
  list-style: none;
  margin: 0 0 1.25em 0;
  *zoom: 1; }
  div.buttons:before, div.buttons:after, ul.buttons:before, ul.buttons:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  div.buttons:after, ul.buttons:after {
    clear: both; }
  div.buttons li a.button, div.buttons li a.btn, div.buttons li input[type="submit"], div.buttons li button, ul.buttons li a.button, ul.buttons li a.btn, ul.buttons li input[type="submit"], ul.buttons li button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    float: left;
    border-left-width: 0; }
  div.buttons li:first-child a.button, div.buttons li:first-child a.btn, div.buttons li:first-child input[type="submit"], div.buttons li:first-child button, ul.buttons li:first-child a.button, ul.buttons li:first-child a.btn, ul.buttons li:first-child input[type="submit"], ul.buttons li:first-child button {
    -webkit-border-radius: 0.2em 0 0 0.2em;
    -moz-border-radius: 0.2em 0 0 0.2em;
    -ms-border-radius: 0.2em 0 0 0.2em;
    -o-border-radius: 0.2em 0 0 0.2em;
    border-radius: 0.2em 0 0 0.2em;
    border-left-width: 1px; }
  div.buttons li:last-child a.button, div.buttons li:last-child a.btn, div.buttons li:last-child input[type="submit"], div.buttons li:last-child button, ul.buttons li:last-child a.button, ul.buttons li:last-child a.btn, ul.buttons li:last-child input[type="submit"], ul.buttons li:last-child button {
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -moz-border-radius: 0 0.2em 0.2em 0;
    -ms-border-radius: 0 0.2em 0.2em 0;
    -o-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0; }

.dropdown-menu {
  display: none; }

a.button, a.btn, input[type="submit"], button {
  border: 1px solid #052d15;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px #e6e6e6, inset 0 1px 0px rgba(255, 255, 255, 0.3);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #095c2b;
  background-image: -webkit-linear-gradient(top, #0e8a41, #095c2b);
  background-image: -moz-linear-gradient(top, #0e8a41, #095c2b);
  background-image: -ms-linear-gradient(top, #0e8a41, #095c2b);
  background-image: -o-linear-gradient(top, #0e8a41, #095c2b);
  background-image: linear-gradient(top, #0e8a41, #095c2b);
  line-height: 1.5em;
  margin: 0;
  padding: 0.25em 1em 0.35em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(5, 5, 5, 0.5);
  -webkit-transition: all 50ms;
  -moz-transition: all 50ms;
  -o-transition: all 50ms;
  transition: all 50ms;
  vertical-align: baseline; }
  a.button:hover, a.btn:hover, input[type="submit"]:hover, button:hover {
    background-color: #095c2b;
    background-image: -webkit-linear-gradient(top, #13b857, #095c2b);
    background-image: -moz-linear-gradient(top, #13b857, #095c2b);
    background-image: -ms-linear-gradient(top, #13b857, #095c2b);
    background-image: -o-linear-gradient(top, #13b857, #095c2b);
    background-image: linear-gradient(top, #13b857, #095c2b); }
  a.button:active, a.button:focus, a.btn:active, a.btn:focus, input[type="submit"]:active, input[type="submit"]:focus, button:active, button:focus {
    background: #074520;
    -webkit-box-shadow: 0 1px 0 white, inset 0 0 20px #050505;
    -moz-box-shadow: 0 1px 0 white, inset 0 0 20px #050505;
    -o-box-shadow: 0 1px 0 white, inset 0 0 20px #050505;
    box-shadow: 0 1px 0 white, inset 0 0 20px #050505;
    color: #bfbfbf;
    text-shadow: 0 0 0; }
  a.button.contrast, a.btn.contrast, input[type="submit"].contrast, button.contrast {
    border-color: #050505;
    background-color: #050505;
    background-image: -webkit-linear-gradient(top, #6b6b6b, #050505);
    background-image: -moz-linear-gradient(top, #6b6b6b, #050505);
    background-image: -ms-linear-gradient(top, #6b6b6b, #050505);
    background-image: -o-linear-gradient(top, #6b6b6b, #050505);
    background-image: linear-gradient(top, #6b6b6b, #050505); }
    a.button.contrast:hover, a.btn.contrast:hover, input[type="submit"].contrast:hover, button.contrast:hover {
      background-color: #050505;
      background-image: -webkit-linear-gradient(top, #858585, #050505);
      background-image: -moz-linear-gradient(top, #858585, #050505);
      background-image: -ms-linear-gradient(top, #858585, #050505);
      background-image: -o-linear-gradient(top, #858585, #050505);
      background-image: linear-gradient(top, #858585, #050505); }
    a.button.contrast:active, a.button.contrast:focus, a.btn.contrast:active, a.btn.contrast:focus, input[type="submit"].contrast:active, input[type="submit"].contrast:focus, button.contrast:active, button.contrast:focus {
      background: #383838;
      color: #bfbfbf; }
  a.button.soft, a.btn.soft, input[type="submit"].soft, button.soft {
    border-color: #a6a6a6;
    color: #525252;
    background-color: #e6e6e6;
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -ms-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(top, white, #e6e6e6);
    text-shadow: 1px 1px 0px white; }
    a.button.soft:hover, a.btn.soft:hover, input[type="submit"].soft:hover, button.soft:hover {
      border-color: #8c8c8c;
      color: #050505;
      background-color: #eeeeee;
      background-image: -webkit-linear-gradient(top, white, #eeeeee);
      background-image: -moz-linear-gradient(top, white, #eeeeee);
      background-image: -ms-linear-gradient(top, white, #eeeeee);
      background-image: -o-linear-gradient(top, white, #eeeeee);
      background-image: linear-gradient(top, white, #eeeeee); }
    a.button.soft:active, a.button.soft:focus, a.btn.soft:active, a.btn.soft:focus, input[type="submit"].soft:active, input[type="submit"].soft:focus, button.soft:active, button.soft:focus {
      background: #bfbfbf;
      border-color: #6b6b6b;
      -webkit-box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e;
      -moz-box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e;
      -o-box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e;
      box-shadow: 0 0 0, inset 0 1px 16px #5e5e5e;
      color: #5e5e5e;
      text-shadow: 0 0 0; }
  a.button.success, a.btn.success, input[type="submit"].success, button.success {
    border-color: #2d5011;
    background-color: #457a1a;
    background-image: -webkit-linear-gradient(top, #5da423, #457a1a);
    background-image: -moz-linear-gradient(top, #5da423, #457a1a);
    background-image: -ms-linear-gradient(top, #5da423, #457a1a);
    background-image: -o-linear-gradient(top, #5da423, #457a1a);
    background-image: linear-gradient(top, #5da423, #457a1a); }
    a.button.success:hover, a.btn.success:hover, input[type="submit"].success:hover, button.success:hover {
      background-color: #457a1a;
      background-image: -webkit-linear-gradient(top, #75ce2c, #457a1a);
      background-image: -moz-linear-gradient(top, #75ce2c, #457a1a);
      background-image: -ms-linear-gradient(top, #75ce2c, #457a1a);
      background-image: -o-linear-gradient(top, #75ce2c, #457a1a);
      background-image: linear-gradient(top, #75ce2c, #457a1a); }
    a.button.success:active, a.button.success:focus, a.btn.success:active, a.btn.success:focus, input[type="submit"].success:active, input[type="submit"].success:focus, button.success:active, button.success:focus {
      background: #396516; }
  a.button.alert, a.btn.alert, input[type="submit"].alert, button.alert {
    border-color: #7c2716;
    background-color: #a7341e;
    background-image: -webkit-linear-gradient(top, #d24226, #a7341e);
    background-image: -moz-linear-gradient(top, #d24226, #a7341e);
    background-image: -ms-linear-gradient(top, #d24226, #a7341e);
    background-image: -o-linear-gradient(top, #d24226, #a7341e);
    background-image: linear-gradient(top, #d24226, #a7341e); }
    a.button.alert:hover, a.btn.alert:hover, input[type="submit"].alert:hover, button.alert:hover {
      background-color: #a7341e;
      background-image: -webkit-linear-gradient(top, #df644c, #a7341e);
      background-image: -moz-linear-gradient(top, #df644c, #a7341e);
      background-image: -ms-linear-gradient(top, #df644c, #a7341e);
      background-image: -o-linear-gradient(top, #df644c, #a7341e);
      background-image: linear-gradient(top, #df644c, #a7341e); }
    a.button.alert:active, a.button.alert:focus, a.btn.alert:active, a.btn.alert:focus, input[type="submit"].alert:active, input[type="submit"].alert:focus, button.alert:active, button.alert:focus {
      background: #912e1a; }
  a.button.large, a.btn.large, input[type="submit"].large, button.large {
    font-size: 1.25em; }
  a.button.small, a.btn.small, input[type="submit"].small, button.small {
    font-size: 1em; }
  a.button.tiny, a.btn.tiny, input[type="submit"].tiny, button.tiny {
    font-size: 0.85em; }

/* =========== Icons */
.ico-name {
  display: inline-block;
  float: left;
  height: 1em;
  margin: 0.1em 0.4em 0 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 1em; }

.ico-name {
  background: url("../images/icons.png") 0px 0px no-repeat; }

/* =========== Messages */
ul.messages {
  list-style: none;
  margin: 0 0 1.25em 0; }

li.message-success, li.message-error,
li.message-fail,
li.message-alert {
  border: 1px solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 1px rgba(5, 5, 5, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  font-weight: bold;
  margin: 0.25em 0;
  line-height: 1.5em;
  font-size: 1.1em;
  display: block;
  vertical-align: baseline;
  padding: 0.25em 1em 0.35em 1em;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4); }

li.message-success {
  border-color: #5da423;
  color: #5da423;
  background-color: #c6eca7;
  background-image: -webkit-linear-gradient(top, #d4f1bc, #c6eca7);
  background-image: -moz-linear-gradient(top, #d4f1bc, #c6eca7);
  background-image: -ms-linear-gradient(top, #d4f1bc, #c6eca7);
  background-image: -o-linear-gradient(top, #d4f1bc, #c6eca7);
  background-image: linear-gradient(top, #d4f1bc, #c6eca7); }

li.message-error,
li.message-fail,
li.message-alert {
  border-color: #d24226;
  color: #d24226;
  background-color: #f6d4ce;
  background-image: -webkit-linear-gradient(top, #fae7e3, #f6d4ce);
  background-image: -moz-linear-gradient(top, #fae7e3, #f6d4ce);
  background-image: -ms-linear-gradient(top, #fae7e3, #f6d4ce);
  background-image: -o-linear-gradient(top, #fae7e3, #f6d4ce);
  background-image: linear-gradient(top, #fae7e3, #f6d4ce); }

/* =========== Pagination */
ul.pagination {
  font-size: 0.9em;
  list-style: none;
  margin: 0 0 1.25em 0;
  text-align: center; }
  ul.pagination li {
    border: 1px solid #aaa;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px white;
    -o-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px white;
    box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px white;
    display: inline-block;
    *float: left;
    font-weight: bold;
    background-color: #f1f1f1;
    background-image: -webkit-linear-gradient(top, white, #f1f1f1);
    background-image: -moz-linear-gradient(top, white, #f1f1f1);
    background-image: -ms-linear-gradient(top, white, #f1f1f1);
    background-image: -o-linear-gradient(top, white, #f1f1f1);
    background-image: linear-gradient(top, white, #f1f1f1);
    margin-bottom: 0.25em;
    text-shadow: 1px 1px 0px white;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
    ul.pagination li a {
      color: #333;
      display: block;
      padding: 0.25em 0.6em 0.35em 0.6em;
      text-decoration: none; }
    ul.pagination li:hover {
      border-color: #666;
      background-color: #eeeeee;
      background-image: -webkit-linear-gradient(top, white, #eeeeee);
      background-image: -moz-linear-gradient(top, white, #eeeeee);
      background-image: -ms-linear-gradient(top, white, #eeeeee);
      background-image: -o-linear-gradient(top, white, #eeeeee);
      background-image: linear-gradient(top, white, #eeeeee); }
      ul.pagination li:hover a {
        color: #050505; }
    ul.pagination li:active, ul.pagination li:focus {
      background: #ccc;
      border-color: #666;
      -webkit-box-shadow: 0 0 0, inset 0px 1px 16px #666666;
      -moz-box-shadow: 0 0 0, inset 0px 1px 16px #666666;
      -o-box-shadow: 0 0 0, inset 0px 1px 16px #666666;
      box-shadow: 0 0 0, inset 0px 1px 16px #666666;
      text-shadow: 0 0 0; }
      ul.pagination li:active a, ul.pagination li:focus a {
        color: #666; }
    ul.pagination li.selected {
      border-color: #333;
      -webkit-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -o-box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 1px 1px #f1f1f1, inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      color: white;
      background-color: #111111;
      background-image: -webkit-linear-gradient(top, #666666, #111111);
      background-image: -moz-linear-gradient(top, #666666, #111111);
      background-image: -ms-linear-gradient(top, #666666, #111111);
      background-image: -o-linear-gradient(top, #666666, #111111);
      background-image: linear-gradient(top, #666666, #111111);
      padding: 0.25em 0.6em 0.35em 0.6em;
      text-shadow: 1px 1px 0px #000; }
    ul.pagination li.gap {
      background: none;
      border: 0;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      -o-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
      font-weight: normal;
      padding: 0.25em 0.35em 0.35em 0.35em; }

/* =========== Popover */
div.modal {
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  div.modal:after {
    background: rgba(5, 5, 5, 0.9);
    content: " ";
    height: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1; }

div.modal-content {
  background: white;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6);
  -moz-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6);
  -o-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6);
  box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.6);
  margin: 3em auto;
  max-width: 800px;
  padding: 1.5em;
  position: relative;
  top: 0; }

/* =========== Tabs */
ul.tabs {
  border-bottom: 1px solid #bfbfbf;
  margin: 0 0 1.25em 0; }
  ul.tabs li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-bottom: -2px;
    position: relative; }
  ul.tabs a {
    border: 1px solid transparent;
    color: #666;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none; }
    ul.tabs a:hover {
      border-left: 1px solid #bfbfbf;
      border-top: 1px solid #bfbfbf;
      border-right: 1px solid #bfbfbf;
      border-bottom: 1px solid transparent;
      -webkit-border-radius: 0.3em 0.3em 0px 0px;
      -moz-border-radius: 0.3em 0.3em 0px 0px;
      -ms-border-radius: 0.3em 0.3em 0px 0px;
      -o-border-radius: 0.3em 0.3em 0px 0px;
      border-radius: 0.3em 0.3em 0px 0px;
      color: #333; }
  ul.tabs li.selected a {
    background: white;
    border: 1px solid #bfbfbf;
    border-bottom-color: white;
    -webkit-border-radius: 0.3em 0.3em 0 0;
    -moz-border-radius: 0.3em 0.3em 0 0;
    -ms-border-radius: 0.3em 0.3em 0 0;
    -o-border-radius: 0.3em 0.3em 0 0;
    border-radius: 0.3em 0.3em 0 0;
    color: #333;
    font-weight: bold;
    padding: 0.70em 1em 0.75em 1em; }

ul.steps {
  border-bottom: 1px solid #bfbfbf;
  margin: 0 0 1.25em 0; }
  ul.steps li {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  ul.steps a {
    color: #666;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none; }
  ul.steps li.completed a {
    color: #333; }
  ul.steps li:hover a {
    color: #333; }
  ul.steps li.selected a {
    color: #333;
    font-weight: bold; }

/* =========== Panels */
.panel, .panel-callout {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  margin-bottom: 1.25em;
  padding: 1em; }

.panel-callout {
  background: #0e8a41;
  border-color: #052d15;
  color: white;
  text-shadow: 1px 1px 0 rgba(5, 5, 5, 0.5); }

/* =========== Print */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 2cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
