/*------------------------------------*\
  #BASE-FORMS
\*------------------------------------*/

form {  }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
}

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select {
  border: 1px solid var(--color-neutral-30);
  border-radius: var(--border-radius-10);
  color: inherit;
  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-30);
  line-height: 1.5em;
  margin: 0;
  padding: 0.5rem;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    border: 1px solid var(--color-neutral-50);
    outline: 0;
  }
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

select {
  height: 2.85rem;

  &[multiple] {
    height: auto;
  }
}

button:focus {
  outline: 0;
}
