/*------------------------------------*\
  #COMPONENT-EXAMPLE
\*------------------------------------*/

/*
 * This is an example of a component.
 */


/*
 * Block
 */
.c-example {

  /* 1: Add the direct properties of the element */
  property: value;

  /* 2: Add media queries or print styles */
  @media (--breakpoint-10) { property: value; }

  /* 3: Add selectors of the parent element */
  &:hover { property: value; }

  /* 4: Add temporary states of the parent element */
  &.is-open { property: value; }

  /* 5: Add nested elements */
  & strong { property: value; }
}

/*
 * Modifier
 */
.c-example--modifier {
  property: value;
}

/*
 * Element
 */
.c-example__subcomponent {
  property: value;
}
