/*------------------------------------*\
  #COMPONENTS-FORMS
\*------------------------------------*/

.c-form {
  list-style: none;
  margin: 0 0 var(--spacing) 0;
}

  .c-form__item {
    lost-utility: clearfix;
  }

  .c-form__label {
    clear: left;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding-top: 0.5rem;
    text-align: left;

    @media (--breakpoint-10) {
      lost-column: 1/3;
    }

    &:hover {
      color: var(--color-neutral-90);
    }
  }

  .c-form__fields {
    margin-bottom: 0.5rem;

    @media (--breakpoint-10) {
      lost-column: 2/3;
    }

    & p,
    & small {
      display: block;
      margin: 0.25rem 0;
    }
  }

  .c-form__description {
    margin: 0.5rem 0;
  }

  .c-form__item--error {

    & label {
      color: var(--color-alert-50);

      &:hover { color: var(--color-alert-70); }
    }

    & input,
    & input:focus {
      border: 1px solid var(--color-alert-50);
      box-shadow: 0 0 10px color(var(--color-alert-50) alpha(50%));
    }

    & .c-form__errors {
      color: var(--color-alert-50);
      list-style: none;
      margin: 0.25rem 0;

      & li { font-size: var(--font-size-20); }
    }
  }

  .c-form__checklist {
    list-style: none;
    margin: 0.5rem 0;

    & li { margin: 0.5rem 0; }

    & input { margin-right: 0.5rem; }

    & label {
      cursor: pointer;

      &:hover { color: var(--color-neutral-90); }
    }
  }
