/*------------------------------------*\
  #OBJECTS-LIST
\*------------------------------------*/

/*ul or ol*/.o-list {
  list-style: none;
  margin: -0.3rem 0 var(--spacing) - 0.3rem 0;
}

  /*li*/.o-list__item {
    padding: .3rem 0 .3rem 2rem;
    position: relative;

    @media (--breakpoint-20) {
      padding-left: 3rem;
    }

    &:before {
      position: absolute;
      left: 0.5rem;
      content: " ";

      @media (--breakpoint-20) {
        left: 1.5rem;
      }
    }
  }

ul.o-list {

  & /*li*/.o-list__item:before {
    top: 0.95rem;
    height: 2px;
    width: 8px;
    background: var(--color-primary-50);
  }
}

ol.o-list {

  & /*li*/.o-list__item {
    counter-increment: list__counter;

    &:before {
      content: counter(list__counter)".";
    }
  }
}
