/*------------------------------------*\
  #OBJECTS-BUTTONS
\*------------------------------------*/

.o-button {
  border: 0;
  border-radius: var(--border-radius-20);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-30);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  vertical-align: bottom;
  background: var(--color-primary-50);
  color: var(--white);

  &:hover {
    background: var(--color-primary-70);
    color: var(--white);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color(var(--black) alpha(80%));
  }
}

.o-button--neutral {
  background: var(--color-neutral-30);
  color: var(--color-neutral-70);

  &:hover {
    background: var(--color-neutral-50);
    color: var(--color-neutral-70);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color(var(--black) alpha(80%));
  }
}

.o-button--success {
  background: var(--color-success-50);
  color: var(--white);

  &:hover {
    background: var(--color-success-70);
    color: var(--white);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color(var(--black) alpha(80%));
  }
}

.o-button--alert {
  background: var(--color-alert-50);
  color: var(--white);

  &:hover {
    background: var(--color-alert-70);
    color: var(--white);
  }

  &:active,
  &:focus {
    box-shadow: inset 0 1px 3px color(var(--black) alpha(80%));
  }
}

.o-button--disabled {
  background: var(--color-neutral-30);
  color: var(--color-neutral-50);
  pointer-events: none;
}
