/*------------------------------------*\
  #OBJECTS-ICONS
\*------------------------------------*/

/*svg*/.o-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

/*svg*/.o-icon--inline {
  position: relative;
  top: 0.4rem;
  margin: 0 0.25rem;
}
