/*------------------------------------*\
  #OBJECTS-MEDIA
\*------------------------------------*/

/*figure*/.o-media--image {
  display: inline-block;
  margin-bottom: var(--spacing);
  width: 100%;

  & img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  & figcaption {
    color: var(--color-neutral-50);
  }
}

/*figure*/.o-media--video {
  height: 0;
  padding-bottom: 56%;
  position: relative;
  width: 100%;

  & iframe,
  & object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
