/*------------------------------------*\
  #OBJECTS-MESSAGES
\*------------------------------------*/

/*ul*/.o-messages {
  list-style: none;
  margin-bottom: var(--spacing);
}

  /*li*/.o-messages__item {
    border-radius: var(--border-radius-10);
    font-weight: bold;
    margin-bottom: 0.25rem;
    padding: 0.5rem 0.75rem;
    vertical-align: baseline;
    background: var(--color-primary-50);
    color: var(--white);
  }

  /*li*/.o-messages__item--neutral {
    background: var(--color-neutral-30);
    color: var(--color-neutral-70);
  }

  /*li*/.o-messages__item--success {
    background: var(--color-success-50);
    color: var(--white);
  }

  /*li*/.o-messages__item--alert {
    background: var(--color-alert-50);
    color: var(--white);
  }
