/*------------------------------------*\
  #OBJECTS-HEADING
\*------------------------------------*/

.o-heading--10 {
  font-size: 1.5rem;
  line-height: 1.5em;
}

.o-heading--30 {
  font-size: 2rem;
  line-height: 1.25em;
}

.o-heading--50 {
  font-size: 3rem;
  line-height: 1em;
}
