/*------------------------------------*\
  #OBJECTS-PAGINATION
\*------------------------------------*/

/*ul*/.o-pagination {
  font-size: var(--font-size-20);
  list-style: none;
  margin-bottom: var(--spacing);
}

  /*li*/.o-pagination__item {
    display: inline-block;
    margin-bottom: 0.25rem;

    & a {
      background: var(--color-neutral-30);
      border-radius: var(--border-radius-10);
      color: var(--color-neutral-70);
      line-height: 1.5em;
      display: block;
      padding: 0.25rem 0.5rem;

      &:hover {
        background: var(--color-neutral-50);
        color: var(--color-neutral-70);
      }

      &:active,
      &:focus {
        box-shadow: inset 0 1px 3px color(var(--black) alpha(20%));
      }
    }
  }

  /*li*/.o-pagination__item--selected a {
    background: var(--color-primary-50);
    color: var(--white);

    &:hover {
      background: var(--color-primary-70);
      color: var(--white);
    }

    &:active,
    &:focus {
      box-shadow: inset 0 1px 3px color(var(--black) alpha(20%));
    }
  }

  /*li*/.pagination__item--gap {
    background: none;
    padding: 0.25rem 0.5rem;
  }
