/*------------------------------------*\
  #OBJECTS-LABELS
\*------------------------------------*/

.o-label {
  border-radius: var(--border-radius-10);
  font-size: var(--font-size-10);
  font-weight: bold;
  padding: 0.1rem 0.25rem;
  background: var(--color-primary-50);
  color: var(--white);
}

.o-label--neutral {
  background: var(--color-neutral-30);
  color: var(--color-neutral-70);
}

.o-label--success {
  background: var(--color-success-50);
  color: var(--white);
}

.o-label--alert {
  background: var(--color-alert-50);
  color: var(--white);
}
