/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So --variable-10 is small or light and --variable-100 is big or dark.
 */


:root {

  /*
   * Set your font
   */
  --font-family-body: sans-serif;
  --font-family-heading: georgia;


  /*
   * Set your font size
   */
  --font-size-base: 100%;

  --font-size-10: 0.75rem;
  --font-size-20: 0.875rem;
  --font-size-30: 1rem;
  --font-size-40: 1.125rem;
  --font-size-50: 1.25rem;


  /*
   * Default spacing for margin-bottom and other paddings
   */
  --spacing: 1rem;


  /*
   * Grid gutter used in tools.grid, 12 columns is standard
   */
  @lost gutter 25px;
  --gutter: 25px;


  /*
   * Maximum width of the website
   */
  --max-width: 1140px;


  /*
   * Adjust the border-radius
   */
  --border-radius-10: 0.125rem;
  --border-radius-20: 0.313rem;


  /*
   * Media queries
   */
  @custom-media --breakpoint-10 (min-width: 600px);
  @custom-media --breakpoint-20 (min-width: 750px);
  @custom-media --breakpoint-30 (min-width: 1000px);
  @custom-media --breakpoint-40 (min-width: 1200px);


  /*
   * Z-index plan
   */
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;


  /*
   * Animation beziers
   */
  --bezier-a: cubic-bezier(0.075, 0.82, 0.165, 1);
}
