/*------------------------------------*\
  #SETTINGS-COLORS
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So $variable-10 is small or light and $variable-100 is big or dark.
 */


:root {

  /*
   * Primary colors
   */
  --color-primary-30: #29c882;
  --color-primary-50: #09a25f;
  --color-primary-70: #038049;


  /*
   * Secondary colors
   */
  --color-secondary-50: #E77E37;


  /*
   * Success and positive colors
   */
  --color-success-50: #39b924;
  --color-success-70: #249c11;


  /*
   * Alert en negative colors
   */
  --color-alert-50: #f3490d;
  --color-alert-70: #d33e09;


  /*
   * Neutral colors
   */
  --color-neutral-10: #eef2f0;
  --color-neutral-30: #ccd6d2;
  --color-neutral-50: #8d9994;
  --color-neutral-70: #3f4542;
  --color-neutral-90: #232725;


  /*
   * Black and white
   */
  --black: #000;
  --white: #fff;
}
