<div class="c-type-display">Display 50 is pretty big<br>The way you want</div>
<div class="c-type-heading c-type-heading--70">Heading 70 is large<br>The way you want</div>
<div class="c-type-heading">Heading 50 is a default<br>The way you want</div>
<div class="c-type-heading c-type-heading--30">Heading 50 is a default<br>The way you want</div>
<div class="c-type-body c-type-body--70">Body 70 is lead text<br>The way you want</div>
<div class="c-type-body">Body 50 is default body text<br>The way you want</div>
<div class="c-type-body c-type-body--30">Body 30 is small text<br>The way you want</div>
<div class="c-type-caption">Caption is caption text<br>The way you want</div>


<div class="c-type-display">We want more of this</div>

<div class="c-type-body c-type-body--70">Op zoek naar een designer die de waarom-vraag stelt, technisch meedenkt en prachtige producten maakt? Ik kan je helpen.</div>

<div class="c-type-body">Product Strategy. Ondersteuning nodig bij het bepalen van je productvisie- en strategie? Met mijn ervaring in ondernemen, startups en art direction begeleidt ik in het proces.
Interface Design. Zoek je design dat de verwachtingen van je gebruikers overtreft? Ik ontwerp webapplicaties, websites en apps die mensen willen gebruiken. Samen bepalen we doelen en werken we stap voor stap naar een prachtig en bruikbaar resultaat.</div>

<div class="c-type-heading">About users and stuff</div>

<div class="c-type-body">CSS Architecture. Vaak valt het tegen als een ontwerp omgezet wordt naar code. Mijn ontwerpen kan ik vertalen naar component-based HTML/CSS. Op deze manier krijg je het meest nette product waarbij viewports, animaties, performance en details perfect op elkaar aansluiten.</div>

<div class="c-type-body c-type-body--30 c-type--muted">I'm just nog going to tell you</div>
