/*------------------------------------*\
  #COMPONENTS-TYPE
\*------------------------------------*/



/*
 * Type Display
 */
.c-type-display {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-70);
  font-weight: 700;
  margin-bottom: 0.35em;
  line-height: var(--line-height-20);
}


/* Display or title */
.c-type-display--50 {

}





/*
 * Type Heading
 */
.c-type-heading {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-50);
  font-weight: 600;
  margin-bottom: 0.35em;
  line-height: var(--line-height-20);
}


/* Title */
.c-type-heading--70 {
  font-size: var(--font-size-60);
}


/* Heading */
.c-type-heading--50 {

}


/* Heading small */
.c-type-heading--30 {
  font-size: var(--font-size-40);
}





/*
 * Type Body
 */
.c-type-body {
  line-height: var(--line-height-30);
  font-size: var(--font-size-30);
  margin-bottom: 1em;
}


/* Lead text */
.c-type-body--70 {
  font-size: var(--font-size-40);
}


/* Body text */
.c-type-body--50 {

}


/* Small text */
.c-type-body--30 {
  font-size: var(--font-size-20);
}





/*
 * Type Caption
 */
.c-type-caption {
  line-height: var(--line-height-20);
  margin-bottom: 1em;
  font-size: var(--font-size-20);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-default);
}





/*
 * Other
 */
.c-type--muted {
  color: var(--color-neutral-50);
}
