/*------------------------------------*\
  #COMPONENTS-FORM-INPUT
\*------------------------------------*/


/*
 * Input
 */
input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url] {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-30);
  border-radius: var(--border-radius-default);
  color: inherit;
  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-30);
  margin: 0;
  padding: var(--space-20);
  vertical-align: baseline;
  width: 100%;

  &:focus {
    border: 1px solid var(--color-neutral-50);
    outline: 0;
  }
}


/* Disabled */
input:disabled {
  background: var(--color-neutral-10);
  color: var(--color-neutral-50);
}
