{% extends 'layout/styleguide.html' %}

{% set page_title = 'Components' %}

{% block content %}

  <h1 class="c-heading c-heading--large">{{ page_title }}</h1>
  <p class="sg-lead">On this page you can find all available components. To change or add a component, dive into the folder components/.</p>

  <h2 class="sg-h2" id="Alert">Alert</h2>
  <div class="sg-component">
    {% include 'components/Alert/example.html' %}
  </div>

  <h2 class="sg-h2" id="Button">Button</h2>
  <div class="sg-component">
    {% include 'components/Button/example.html' %}
  </div>

  <h2 class="sg-h2" id="Card">Card</h2>
  <div class="sg-component">
    {% include 'components/Card/example.html' %}
  </div>

  <h2 class="sg-h2" id="Container">Container</h2>
  <div class="sg-component">
    {% include 'components/Container/example.html' %}
  </div>

  <h2 class="sg-h2" id="Form">Form</h2>
  <div class="sg-component">
    {% include 'components/Form/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormCheckbox">FormCheckbox</h2>
  <div class="sg-component">
    {% include 'components/FormCheckbox/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormField">FormField</h2>
  <div class="sg-component">
    {% include 'components/FormField/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormInput">FormInput</h2>
  <div class="sg-component">
    {% include 'components/FormInput/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormRadiobutton">FormRadiobutton</h2>
  <div class="sg-component">
    {% include 'components/FormRadiobutton/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormSelect">FormSelect</h2>
  <div class="sg-component">
    {% include 'components/FormSelect/example.html' %}
  </div>

  <h2 class="sg-h2" id="FormTextarea">FormTextarea</h2>
  <div class="sg-component">
    {% include 'components/FormTextarea/example.html' %}
  </div>

  <h2 class="sg-h2" id="Grid">Grid</h2>
  <div class="sg-component">
    {% include 'components/Grid/example.html' %}
  </div>

  <h2 class="sg-h2" id="Heading">Heading</h2>
  <div class="sg-component">
    {% include 'components/Heading/example.html' %}
  </div>

  <h2 class="sg-h2" id="Icon">Icon</h2>
  <div class="sg-component">
    {% include 'components/Icon/example.html' %}
  </div>

  <h2 class="sg-h2" id="List">List &amp; ListItem</h2>
  <div class="sg-component">
    {% include 'components/List/example.html' %}
  </div>

  <h2 class="sg-h2" id="Media">Media</h2>
  <div class="sg-component">
    {% include 'components/Media/example.html' %}
  </div>

  <h2 class="sg-h2" id="Pagination">Pagination</h2>
  <div class="sg-component">
    {% include 'components/Pagination/example.html' %}
  </div>

  <h2 class="sg-h2" id="Panel">Panel</h2>
  <div class="sg-component">
    {% include 'components/Panel/example.html' %}
  </div>

  <h2 class="sg-h2" id="Paragraph">Paragraph</h2>
  <div class="sg-component">
    {% include 'components/Paragraph/example.html' %}
  </div>

  <h2 class="sg-h2" id="Tag">Tag</h2>
  <div class="sg-component">
    {% include 'components/Tag/example.html' %}
  </div>

  <h2 class="sg-h2" id="Wrapper">Wrapper</h2>
  <div class="sg-component">
    {% include 'components/Wrapper/example.html' %}
  </div>

{% endblock %}
