{% extends 'layout/styleguide.html' %}

{% set page_title = 'Components' %}

{% block content %}

  <h1 class="c-heading c-heading--30">{{ page_title }}</h1>
  <p class="c-paragraph c-paragraph--large">On this page you can find all available components. To change or add a component, dive into the folder components/.</p>

  <h2 class="c-heading" id="Type">Type</h2>
  <div class="sg-component">
    {% include 'components/Type/Type.html' %}
  </div>

  <h2 class="c-heading" id="Alert">Alert</h2>
  <div class="sg-component">
    {% include 'components/Alert/Alert.html' %}
  </div>

  <h2 class="c-heading" id="Button">Button</h2>
  <div class="sg-component">
    {% include 'components/Button/Button.html' %}
  </div>

  <h2 class="c-heading" id="Card">Card</h2>
  <div class="sg-component">
    {% include 'components/Card/Card.html' %}
  </div>

  <h2 class="c-heading" id="FormCheckbox">FormCheckbox</h2>
  <div class="sg-component">
    {% include 'components/FormCheckbox/FormCheckbox.html' %}
  </div>

  <h2 class="c-heading" id="FormField">FormField</h2>
  <div class="sg-component">
    {% include 'components/FormField/FormField.html' %}
  </div>

  <h2 class="c-heading" id="FormInput">FormInput</h2>
  <div class="sg-component">
    {% include 'components/FormInput/FormInput.html' %}
  </div>

  <h2 class="c-heading" id="FormRadiobutton">FormRadiobutton</h2>
  <div class="sg-component">
    {% include 'components/FormRadiobutton/FormRadiobutton.html' %}
  </div>

  <h2 class="c-heading" id="FormSelect">FormSelect</h2>
  <div class="sg-component">
    {% include 'components/FormSelect/FormSelect.html' %}
  </div>

  <h2 class="c-heading" id="FormTextarea">FormTextarea</h2>
  <div class="sg-component">
    {% include 'components/FormTextarea/FormTextarea.html' %}
  </div>

  <h2 class="c-heading" id="Grid">Grid</h2>
  <div class="sg-component">
    {% include 'components/Grid/Grid.html' %}
  </div>

  <h2 class="c-heading" id="Heading">Heading</h2>
  <div class="sg-component">
    {% include 'components/Heading/Heading.html' %}
  </div>

  <h2 class="c-heading" id="Icon">Icon</h2>
  <div class="sg-component">
    {% include 'components/Icon/Icon.html' %}
  </div>

  <h2 class="c-heading" id="Layout">Layout</h2>
  <div class="sg-component">
    {% include 'components/Layout/Layout.html' %}
  </div>

  <h2 class="c-heading" id="List">List</h2>
  <div class="sg-component">
    {% include 'components/List/List.html' %}
  </div>

  <h2 class="c-heading" id="Media">Media</h2>
  <div class="sg-component">
    {% include 'components/Media/Media.html' %}
  </div>

  <h2 class="c-heading" id="Navigation">Navigation</h2>
  <div class="sg-component">
    {% include 'components/Navigation/Navigation.html' %}
  </div>

  <h2 class="c-heading" id="Pagination">Pagination</h2>
  <div class="sg-component">
    {% include 'components/Pagination/Pagination.html' %}
  </div>

  <h2 class="c-heading" id="Panel">Panel</h2>
  <div class="sg-component">
    {% include 'components/Panel/Panel.html' %}
  </div>

  <h2 class="c-heading" id="Paragraph">Paragraph</h2>
  <div class="sg-component">
    {% include 'components/Paragraph/Paragraph.html' %}
  </div>

  <h2 class="c-heading" id="Quote">Quote</h2>
  <div class="sg-component">
    {% include 'components/Quote/Quote.html' %}
  </div>

  <h2 class="c-heading" id="Table">Table</h2>
  <div class="sg-component">
    {% include 'components/Table/Table.html' %}
  </div>

  <h2 class="c-heading" id="Tag">Tag</h2>
  <div class="sg-component">
    {% include 'components/Tag/Tag.html' %}
  </div>

{% endblock %}
