{% extends 'layout/styleguide.html' %}

{% set page_title = 'Introduction' %}

{% block content %}

  <h1 class="c-heading--30 u-spacing">{{page_title}}</h1>

  <h2 class="sg-h2">How does it work?</h2>
  <p>Taiga is based on ITCSS – ‘Inverted Triangle CSS'. It involves visualising your entire CSS project as a layered, upside-down triangle. This hierarchical shape represents a model that will help you order your CSS in the most effective, least wasteful way.</p>
  <p>Learn more about ITCSS by <a href="https://www.youtube.com/watch?v=1OKZOV-iLj4">a talk from Harry Roberts</a>.</p>

{% endblock %}
