{% extends 'layout/styleguide.html' %}

{% set page_title = 'Getting Started' %}

{% block content %}

  <h1 class="c-heading c-heading--30">{{page_title}}</h1>

  <p class="sg-lead">Taiga Boilerplate is a small Nunjucks/HTML/PostCSS framework for starting a new web project build on components. It's mobile-first based on the principles of ITCSS and BEM.</p>

  <h2 class="c-heading">How to use Taiga</h2>
  <p>Taiga is a boilerplate for visualizing your components or a part of your design system. You can use what you want, change it and add pages, rules and components. Once you've made it ready for your project, build on from there, do not try to update it from the latest version on Github.</p>

  <h2 class="c-heading">Sketch file</h2>
  <p>Taiga has a Sketch file with design tokens and components. <a href="https://www.dropbox.com/s/qmlgky4b0ko1jl4/taiga-ds.sketch.zip?dl=0">Download the sketch file</a>.

  <h2 class="c-heading">File structure</h2>
  <p>Below you can find the file structure of Taiga, the whole src/ folder will compile to a dist/ folder where it renders the Nunjucks files to plain HTML.</p>
<p><pre class="sg-code"><code>src/
├── assets/
│   ├── images/
│   ├── scripts/
│   ├── stylesheets/
├── components/
│   ├── Alert/
│   ├── Button/
│   └── [all components]
├── layout/
├── media/
└── styleguide/
└── [templates]
</code></pre></p>

  <h2 class="c-heading">Components</h2>
  <p>For adding a new component just duplicate a component folder and edit the files with your component name. To make it work also add a CSS import in the styles.css in the assets/stylesheets/ folder. Finally, include the example file of your folder in styleguide/index.html to let it show up in the style guide.</p>


{% endblock %}
