{% extends 'layout/styleguide.html' %}

{% set page_title = 'Layout' %}

{% block content %}

  <h1 class="c-heading c-heading--30 u-spacing">{{page_title}}</h1>

  <h2 class="sg-h2" id="grid">Grid</h2>
  <h3 class="sg-h3">Standard</h3>

  <div class="sg-grid">
    <div class="l-3">l-3</div>
    <div class="l-9">l-9</div>
  </div>

  <div class="sg-grid">
    <div class="l-4">l-4</div>
    <div class="l-8">l-8</div>
  </div>

  <div class="sg-grid">
    <div class="l-6">l-6</div>
    <div class="l-6">l-6</div>
  </div>

{% endblock %}
