{% extends 'layout/styleguide.html' %}

{% set page_title = 'Support' %}

{% block content %}

  <h1 class="c-heading c-heading--30">{{page_title}}</h1>
  <p class="sg-lead">This page provides info about how to get in contact with the team about the design system.</p>

  <h2 class="sg-h2">Channels</h2>
  <p>Information about the channels like Slack, e-mail or other.</p>

  <h2 class="sg-h2">Contribution</h2>
  <p>If you want to contribute on the project, just get in touch.</p>

{% endblock %}
