<div class="Media">
  <div class="Media_item Media_item___image">
    <img class="Media_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Canis_lupus_laying.jpg/266px-Canis_lupus_laying.jpg">
    <figcaption class="c-media__caption">A Wolf</figcaption>
  </div>
</div>

<div class="Media">
  <div class="Media_item Media_item__video">
    <iframe class="c-media__video" src="https://player.vimeo.com/video/155640569?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
</div>

<div class="Media Media___flex">
  <div class="Media_item Media_item__image">
    <img class="c-media__image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Canis_lupus_laying.jpg/266px-Canis_lupus_laying.jpg">
  </div>

  <div class="Media_content">
    <p>This is content next to my image</p>
  </div>
</div>
