// =========== Forms

input[type=search] { -webkit-appearance: textfield; }
input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select {
    -webkit-appearance: none;
    border: 1px solid lighten($black, 65%);
    color: #333;
    display: block;
    font-family: $font-family;
    font-size: inherit;
    line-height: 1.5em;
    margin: 0;
    padding: 0.6em;
    width: 100% !important;
    @include border-radius(0.2em);
    @include box-shadow(inset 0px 1px 3px rgba($black, 0.1));
    @include transition(border 0.1s);
    vertical-align: baseline;

    &:focus {
        border: 1px solid lighten($black, 55%);
        outline: 0;
        color: #333;
        @include box-shadow(0px 0px 4px rgba($black, 0.3));
    }
}

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    display: block;
}

form {  }

fieldset {  }

legend {
    border: 0;
    display: block;
    margin-bottom: 0.25em;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1.4em;
}

ul.form {
    clear: both;
    list-style: none;
    margin: 0 0 $vertical-spacing 0;

    > li { @include clearfix; }

    > li > label {
        clear: left;
        cursor: pointer;
        display: block;
        font-weight: bold;
        padding-top: 0.6em;
        text-align: left;

        @include breakpoint(one) {
            @include grid(16, 0, 1);
            text-align: right;
        }

        &:hover { color: $black; }
    }

    div.form-fields {
        margin-bottom: 0.5em;

        @include breakpoint(one) {
            @include grid(32);
        }

        p, small {
            display: block;
            margin: 0.25em 0;
        }
        p.form-description { margin: 0.6em 0; }
    }
}

ul.form-checklist {
    list-style: none;
    margin: 0.6em 0;
    li { margin: 0.5em 0; }
    input {
        display: inline;
        margin-right: 0.8em;
    }
    label {
        @include grid-reset;
        font-weight: normal;
        &:hover {
            color: #000;
            cursor: pointer;
        }
    }
}

li.form-error {
    label {
        color: $color-alert;
        &:hover { color: darken($color-alert, 25%); }
    }
    input {
        border: 1px solid $color-alert;
        @include box-shadow((0px 0px 3px lighten($color-alert, 10%), inset 0 0 0));
        &:focus { border: 1px solid $color-alert; }
    }
    ul.form-errors {
        color: $color-alert;
        list-style: none;
        margin: 0.35em 0;
    }
}