// =========== Icons

%ico {
    display: inline-block;
    float: left;
    height: 1em;
    margin: 0.1em 0.4em 0 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 1em;
}

.ico-name {
    @extend %ico;
    background: url('../images/icons.png') 0px 0px no-repeat;
}