/* =========== Label */

span.label {
    border: none;
    @include border-radius(0.4em);
    color: $white;
    font-size: 0.85em;
    font-weight: bold;
    background: $black;
    padding: 0.1em 0.3em;
}