// =========== Messages

ul.messages  {
    list-style: none;
    margin: 0 0 $vertical-spacing 0;
}

li%message {
    border-radius: $border-radius;
    display: block;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.25em;
    padding: 0.4em 0.75em;
    vertical-align: baseline;
}

li.message {
    @extend li%message;
    background: lighten($black, 80%);
    color: lighten($black, 20%);
}

li.message-success {
    @extend li%message;
    background: $color-success;
    color: $white;
    -webkit-font-smoothing: antialiased;
}

li.message-alert {
    @extend li%message;
    background: $color-alert;
    color: $white;
    -webkit-font-smoothing: antialiased;
}