// =========== Modal

div.modal {
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    // Overlay
    &:after {
        background: rgba($black, 0.9);
        content: " ";
        height: 100%;
        opacity: 0.9;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

div.modal-content {
    background: $white;
    @include border-radius(0.3em);
    @include box-shadow((0px 0px 20px rgba($black, 0.6)));
    margin: 3em auto;
    max-width: 800px;
    padding: 1.5em;
    position: relative;
    top: 0;
}