// =========== Pagination

ul.pagination {
    font-size: 0.95em;
    list-style: none;
    margin: 0 0 $vertical-spacing 0;
    text-align: center;
    li {
        display: inline-block;
        margin-bottom: 0.25em;
    }
    a { @extend .button-soft !optional; }
    li.is-selected a { @extend .button-contrast !optional; }
    li.gap {
        background: none;
        padding: 0.35em;
    }
}