// =========== Panels

.panel {
    background: lighten($black, 85%);
    border-radius: $border-radius;
    margin-bottom: $vertical-spacing;
    padding: 1em;
}

.panel-callout {
    @extend .panel;
    background: $color-brand;
    color: $white;
}