// =========== Panels

.panel {
    background: lighten($black, 85%);
    margin-bottom: $vertical-spacing;
    @include border-radius(0.2em);
    padding: 1em;
}

.panel-callout {
    @extend .panel;
    background: $color-brand;
    color: $white;
}