// =========== Tabs

ul.tabs {
    background: lighten($black, 80%);
    border-radius: $border-radius;
    margin: 0 0 $vertical-spacing 0;
    padding: 0.35em 0.35em 0 0.35em;
    li {
        display: inline-block;
        position: relative;
    }
    a {
        color: lighten($black, 25%);
        display: block;
        padding: 0.75em;
        &:hover { color: $black; }
    }
    li.is-selected a {
        background: $white;
        border-radius: 0.2em 0.2em 0 0;
        color: $black;
        font-weight: bold;
    }
}