<div class="c-form-field  c-form-field--error">
  <label class="c-form-field__label">Label</label>
  <div class="c-form-field__input">
    <input type="text" placeholder="" value="Tekst">
  </div>
  <small class="c-form-field__description">Dit is een beschrijving</small>
</div>

<div class="c-form-field">
  <label class="c-form-field__label">Label</label>
  <div class="c-form-field__input">
    <input type="text" placeholder="" value="">
  </div>
  <small class="c-form-field__description">Dit is een beschrijving</small>
</div>
