<div class="FormField FormField___error">
  <label class="FormField_label">Label</label>
  <div class="FormField_input">
    <input type="text" placeholder="" value="Tekst">
  </div>
  <small class="FormField_description">Dit is een beschrijving</small>
</div>

<div class="FormField">
  <label class="FormField_label">Label</label>
  <div class="FormField_input">
    <input type="text" placeholder="" value="">
  </div>
  <small class="FormField_description">Dit is een beschrijving</small>
</div>
