{% extends 'layout/base.html' %}

{% set page_title = 'Home' %}

{% block content %}

  <div class="l-wrapper l-wrapper--neutral">

    <div class="l-container">

      <div class="l-8">

        <h1 class="c-heading--30">Set up Taiga</h1>
        <p>Taiga Boilerplate is a small HTML/Sass framework for starting a new web project. It is mobile-first with a semantic Sass grid and based on the principles of SMACSS and BEM.</p>

      </div>

    </div>

  </div>

  <div class="l-container">

    <ul class="c-list">
      <li class="c-list__item"><strong>Get started</strong> with Taiga, check the <a href="https://github.com/aljanscholtens/taiga-boilerplate/blob/master/README.md">Readme on Github</a>.</li>
      <li class="c-list__item">Need components? Taiga has a small <strong><a href="styleguide/index.html">styleguide</a></strong>.</li>
      <li class="c-list__item">If you like Taiga, please star it on <a href="https://github.com/aljanscholtens/taiga-boilerplate">Github</a>.</li>
      <li class="c-list__item">Questions? Mail me at <a href="mailto:aljan@studiowolf.com">aljan@scholtens.me</a> or tweet to <a href="http://twitter.com/aljanscholtens/">@AljanScholtens</a>.</li>
    </ul>

    {% include 'components/panel/panel.html' %}

  </div>

{% endblock %}
