{% extends 'layout/base.html' %}

{% from "components/Wrapper/Wrapper.html" import Wrapper %}
{% from "components/Container/Container.html" import Container %}
{% from "components/Grid/Grid.html" import Grid %}
{% from "components/List/List.html" import List %}
{% from "components/ListItem/ListItem.html" import ListItem %}
{% from "components/Heading/Heading.html" import Heading %}
{% from "components/Panel/Panel.html" import Panel %}

{% set page_title = 'Home' %}

{% block content %}

  {% call Wrapper(type='neutral') %}

    {% call Container() %}

      {% call Grid(columns='8') %}

        {% call Heading(element='h1') %} Set up Taiga {% endcall %}
        <p>Taiga Boilerplate is a small HTML/PostCSS framework for starting a new web project. It is mobile-first with CSS Grid Layout and based on the principles of ITCSS and BEM.</p>

      {% endcall %}

    {% endcall %}

  {% endcall %}

  {% call Container() %}

    {% call List() %}
      {% call ListItem() %}<strong>Get started</strong> with Taiga, check the <a href="https://github.com/aljanscholtens/taiga-boilerplate/blob/master/README.md">Readme on Github</a>.{% endcall %}
      {% call ListItem() %}Need components? Taiga has a small <strong><a href="styleguide/index.html">styleguide</a></strong>.{% endcall %}
      {% call ListItem() %}If you like Taiga, please star it on <a href="https://github.com/aljanscholtens/taiga-boilerplate">Github</a>.{% endcall %}
      {% call ListItem() %}Questions? Mail me at <a href="mailto:aljan@studiowolf.com">aljan@scholtens.me</a> or tweet to <a href="http://twitter.com/aljanscholtens/">@AljanScholtens</a>.{% endcall %}
    {% endcall %}

  {% endcall %}

{% endblock %}
