// =========== Buttons

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Choose a div or ul to group up your buttons
div.buttons {
    list-style: none;
    margin: 0 0 $spacing 0;
    @include clearfix;
}

// The standard button has the $color-brand colors
%button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $border-radius-10;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-30;
    font-weight: bold;
    font-family: inherit;
    line-height: 1.5em !important;
    margin: 0 0 0.25rem 0;
    padding: 0.35rem 0.75rem;
    border: 0;
    vertical-align: bottom;
    text-decoration: none;
    &:focus { outline: 0; }
}

.button,
input[type=submit],
button {
    @extend %button;
    color: $white;
    background: $color-brand-50;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background: $color-brand-60;
        color: $white;
    }
    &:active, &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--neutral,
input[type=submit].button--neutral,
button.button--neutral {
    @extend %button;
    color: $color-neutral-80;
    background: $color-neutral-20;
    &:hover {
        color: $color-neutral-80;
        background: $color-neutral-40;
    }
    &:active, &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--success,
input[type=submit].button--success,
button.button--success {
    @extend %button;
    color: $white;
    background-color: $color-success-50;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: $color-success-60;
        color: $white;
    }
    &:active, &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}

.button--alert,
input[type=submit].button--alert,
button.button--alert {
    @extend %button;
    color: $white;
    background-color: $color-alert-50;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: $color-alert-60;
        color: $white;
    }
    &:active, &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}
