// =========== Figure

figure {
    display: inline-block;
    margin-bottom: $spacing;
    width: 100%;

    &.figure--left {
        clear: left;
        float: left;
        padding-right: $spacing;
        width: 50%;
    }
    &.figure--right {
        clear: right;
        float: right;
        padding-left: $spacing;
        width: 50%;
    }
    img {
        display: block;
        width: 100%;
    }
    figcaption {
        color: blue;
    }
}