// =========== Forms

input[type=search] { -webkit-appearance: textfield; }
input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select {
    -webkit-appearance: none;
    border: 1px solid $color-neutral-40;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: $font-size-30;
    line-height: 1.5em;
    margin: 0;
    padding: 0.6rem;
    vertical-align: baseline;
    width: 100%;
    @include transition(border 100ms);

    &:focus {
        border: 1px solid $color-neutral-60;
        box-shadow: 0px 0px 4px rgba($black, 0.2);
        outline: 0;
    }
}

textarea {
    display: block;
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}

select {
    -webkit-appearance: menulist;
    height: 2.85rem;
}

form {  }

fieldset {  }

legend {
    border: 0;
    display: block;
}

ul.form {
    clear: both;
    list-style: none;
    margin: 0 0 $spacing 0;

    > li { @include clearfix; }

    > li > label {
        clear: left;
        cursor: pointer;
        display: block;
        font-weight: bold;
        padding-top: 0.6rem;
        text-align: left;

        @include breakpoint($breakpoint-10) {
            @include grid(16, 0, 1);
            text-align: right;
        }

        &:hover { color: $color-neutral-100; }
    }

    div.form--fields {
        margin-bottom: 0.5rem;

        @include breakpoint($breakpoint-10) {
            @include grid(32);
        }

        p, small {
            display: block;
            margin: 0.25rem 0;
        }
        p.form--description { margin: 0.6rem 0; }
    }
}

ul.form--checklist {
    list-style: none;
    margin: 0.6rem 0;
    li { margin: 0.5rem 0; }
    input {
        display: inline;
        margin-right: 0.8rem;
    }
    label {
        @include grid-reset;
        font-weight: 300;
        &:hover {
            color: #000;
            cursor: pointer;
        }
    }
}

li.form--error {
    label {
        color: $color-alert-50;
        &:hover { color: $color-alert-60; }
    }
    input {
        border: 1px solid $color-alert-50;
        box-shadow: 0px 0px 3px lighten($color-alert-50, 10%), inset 0 0 0;
        &:focus { border: 1px solid $color-alert-50; }
    }
    ul.form--errors {
        color: $color-alert-50;
        list-style: none;
        margin: 0.35rem 0;
        li { font-size: $font-size-20; }
    }
}
