// =========== Icons

%ico {
    display: inline-block;
    float: left;
    height: 1rem;
    margin: 0.1rem 0.4rem 0 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 1rem;
}

.ico--name {
    @extend %ico;
    background: url('../images/icons.png') 0px 0px no-repeat;
}
