// =========== Label

%label {
    border-radius: $border-radius-10;
    font-size: $font-size-10;
    font-weight: bold;
    padding: 0.1rem 0.3rem;
}

.label {
    @extend %label !optional;
    color: $white;
    background: $color-brand-50;
}

.label--neutral {
    @extend %label !optional;
    color: $color-neutral-80;
    background: $color-neutral-20;
}

.label--success {
    @extend %label !optional;
    color: $white;
    background-color: $color-success-50;
}

.label--alert {
    @extend %label !optional;
    color: $white;
    background-color: $color-alert-50;
}
