// =========== Messages

ul.messages,
div.message {
  list-style: none;
  margin: 0 0 $spacing 0;
}

li%message {
  border-radius: $border-radius-10;
  font-weight: bold;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.75rem;
  vertical-align: baseline;
}

li.message,
div.message {
  @extend li%message;
  background: $color-primary-50;
  color: $white;
}

li.message__neutral,
div.message__neutral {
  @extend li%message;
  background: $color-neutral-30;
  color: $color-neutral-70;
}

li.message__success,
div.message__success {
  @extend li%message;
  background: $color-success-50;
  color: $white;
}

li.message__alert,
div.message__alert {
  @extend li%message;
  background: $color-alert-50;
  color: $white;
}
