// =========== Pagination

ul.pagination {
    list-style: none;
    margin: 0 0 $spacing 0;
    text-align: center;

    li {
        display: inline-block;
        margin-bottom: 0.25rem;
    }
    
    li.pagination--gap {
        background: none;
        padding: 0.25rem;
    }
}
