// =========== Panels

.panel {
    background: lighten($gray, 10%);
    border-radius: $border-radius;
    margin-bottom: $spacing;
    padding: 1em;
}

.panel--callout {
    @extend .panel;
    background: $color-brand;
    color: $white;
}