// =========== Panels

.panel {
    background: $color-neutral-10;
    border-radius: $border-radius-10;
    margin-bottom: $spacing;
    padding: 1rem;
}

.panel--callout {
    @extend .panel;
    background: $color-brand-50;
    color: $white;
}
