// =========== Quote

blockquote {
    quotes: none;
    color: lighten($black, 50%);
    font: italic 1.2rem Georgia, serif;
    line-height: 1.5rem;
    margin-bottom: $spacing;
    padding: 0 0 0 2rem;
    position: relative;
    &:before {
        color: lighten($black, 75%);
        content: "\201C";
        display: block;
        font-size: 5rem;
        left: -0.5rem;
        position: absolute;
        top: 1rem;
    }
    cite {
        color: lighten($black, 35%);
        display: block;
        font-size: 0.85rem;
        &:before { content: "\2014 \0020"; }
    }
}
