// =========== Tables

table {
    border: 1px solid $gray;
    border-collapse: separate;
    border-radius: $border-radius;
    border-spacing: 0;
    margin-bottom: $spacing;
    width: 100%;
}

thead th {
    background: lighten($gray, 15%);
    color: $black;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
}

tbody tr:nth-child(2n+2) { background: lighten($gray, 15%); }

tbody td {
    border-left: 1px solid $gray;
    border-top: 1px solid $gray;
    padding: 0.5rem;
    &:first-child { border-left: 0; }
}
