// =========== Tabs

ul.tabs {
    background: $color-neutral-20;
    border-radius: $border-radius-10;
    margin: 0 0 $spacing 0;
    padding: 0.35rem 0.35rem 0 0.35rem;
    li {
        display: inline-block;
        position: relative;
    }
    a {
        color: $color-neutral-80;
        display: block;
        padding: 0.75rem;
        &:hover { color: $color-neutral-100; }
    }
    li.is-selected a {
        background: $white;
        border-radius: $border-radius-10 $border-radius-10 0 0;
        color: $color-neutral-100;
        font-weight: bold;
    }
}
