/*------------------------------------*\
  #BASE-PAGE
\*------------------------------------*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color: var(--color-neutral-90);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-base);
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background-color: var(--color-neutral-0);
  height: 100%;
  margin: 0;
  line-height: var(--line-height-default);
}
