/*------------------------------------*\
  #FONTS
\*------------------------------------*/


/* Font */
@font-face {
  /* font-family: 'Font Name';
  src: url('filename.woff2') format('woff2');
  font-weight: 400;
  font-style: normal; */
}
