/*------------------------------------*\
  #FONTS
\*------------------------------------*/


/* Font */
/* @font-face {
  font-family: 'Font name';
  src: url('/assets/fonts/font.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
} */
