/*------------------------------------*\
  #LAYOUT-GRID
\*------------------------------------*/

/*
 * Add your own grid items
 */

.l-3 {

  @media (--breakpoint-10) {
    lost-column: 3/12;
  }
}

.l-4 {

  @media (--breakpoint-10) {
    lost-column: 4/12;
  }
}

.l-6 {

  @media (--breakpoint-10) {
    lost-column: 6/12;
  }
}

.l-8 {

  @media (--breakpoint-10) {
    lost-column: 8/12;
  }
}

.l-9 {

  @media (--breakpoint-10) {
    lost-column: 9/12;
  }
}

.l-single {
  max-width: 36rem;
  margin: auto;
  clear: both;
}
