/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So --variable-10 is small or light and --variable-100 is big or dark.
 */


:root {

  /*
   * Set your font
   */
  --font-family-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-family-heading: avenir next, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;


  /*
   * Set your font size
   */
  --font-size-base: 16px;

  --font-size-10: 0.75rem;
  --font-size-20: 0.875rem;
  --font-size-30: 1rem;
  --font-size-40: 1.125rem;
  --font-size-50: 1.25rem;


  /*
   * Default spacing for margin-bottom and other paddings
   */
  --spacing: 1rem;

  --space-inset-default: 16px 16px 16px 16px;
  --space-inset-xs: 4px 4px 4px 4px;
  --space-inset-s: 8px 8px 8px 8px;
  --space-inset-m: 16px 16px 16px 16px;
  --space-inset-l: 32px 32px 32px 32px;
  --space-inset-xl: 64px 64px 64px 64px;
  --space-stack-default: 0 0 16px 0;
  --space-stack-xs: 0 0 4px 0;
  --space-stack-s: 0 0 8px 0;
  --space-stack-m: 0 0 16px 0;
  --space-stack-l: 0 0 32px 0;
  --space-stack-xl: 0 0 64px 0;
  --space-default: 16px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;


  /*
   * Grid gutter used in tools.grid, 12 columns is standard
   */
  --gutter: 32px;


  /*
   * Maximum width of the website
   */
  --max-width: 1140px;


  /*
   * Adjust the border-radius
   */
  --border-radius-10: 0.125rem;
  --border-radius-50: 5rem;


  /*
   * Media queries
   */
  @custom-media --breakpoint-10 (min-width: 600px);
  @custom-media --breakpoint-20 (min-width: 750px);
  @custom-media --breakpoint-30 (min-width: 1000px);
  @custom-media --breakpoint-40 (min-width: 1200px);


  /*
   * Z-index plan
   */
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;


  /*
   * Animation beziers
   */
  --bezier-a: cubic-bezier(0.075, 0.82, 0.165, 1);
}
