/*------------------------------------*\
  #STYLEGUIDE
\*------------------------------------*/

@import "styles.css";

.sg-wrapper {
  height: 100vh;

  @media (--breakpoint-20) {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: "aside main";
  }
}

.sg-aside {
  background: var(--color-neutral-10);
  padding: var(--space-inset-default);

  @media (--breakpoint-20) {
    padding: var(--space-inset-60);
    grid-area: aside;
    overflow: auto;
  }
}

.sg-main {
  padding: var(--space-inset-default);

  @media (--breakpoint-20) {
    padding: var(--space-inset-60);
    grid-area: main;
    overflow: auto;
  }
}


.sg-navigation {
  list-style: none;
  margin-bottom: var(--space-stack-default);

  & a {
    display: block;
    padding: var(--space-20) 0;
    text-decoration: none;
    color: var(--color-neutral-70);
    font-size: var(--font-size-30);

    &:hover {
      color: var(--color-neutral-90);
    }
  }
}


.sg-navigation-sub {
  list-style: none;
  margin: var(--space-stack-default);

  & a {
    padding: var(--space-10) 0;
    padding-left: var(--space-20);
    font-size: var(--font-size-10);
  }
}

.sg-code {
  background: var(--color-neutral-10);
  padding: var(--space-default);
  line-height: 1.35em;
  margin: var(--space-stack-default);
}

.sg-component {
  margin-bottom: var(--space-default);
  padding: var(--space-default);
  box-shadow: var(--effect-shadow-30);
  border-radius: var(--effect-rounded-default);

  @media (--breakpoint-20) {
    margin-bottom: calc(var(--space-default) * 3);
  }

  & .c-grid__item {
    background: var(--color-neutral-10);
    padding: var(--space-default);
  }
}

/*
 * Colors
 */
.sg-colors {
  margin: var(--space-stack-default);
  display: grid;
  grid-template-columns: 1fr 1fr;

  & ul {
    list-style: none;
    margin-left: 0;
  }

  & li {
    padding: 0.5rem 1rem;
  }
}

.sg-colors__item--large {
  height: 5rem;
  display: flex;
  align-items: center;
}

.sg-colors__fill {
  color: var(--color-neutral-0);
}

.sg-colors--primary .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-primary-30); }
  &:nth-child(2) { background: var(--color-primary-50); }
  &:nth-child(3) { background: var(--color-primary-70); }
}

.sg-colors--primary .sg-colors__text li {

  &:nth-child(1) { color: var(--color-primary-30); }
  &:nth-child(2) { color: var(--color-primary-50); }
  &:nth-child(3) { color: var(--color-primary-70); }
}

.sg-colors--secondary .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-secondary-50); }
}

.sg-colors--secondary .sg-colors__text li {

  &:nth-child(1) { color: var(--color-secondary-50); }
}

.sg-colors--neutral .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-neutral-10); }
  &:nth-child(2) { background: var(--color-neutral-30); }
  &:nth-child(3) { background: var(--color-neutral-50); }
  &:nth-child(4) { background: var(--color-neutral-70); }
  &:nth-child(5) { background: var(--color-neutral-90); }
}

.sg-colors--neutral .sg-colors__text li {

  &:nth-child(1) { color: var(--color-neutral-10); }
  &:nth-child(2) { color: var(--color-neutral-30); }
  &:nth-child(3) { color: var(--color-neutral-50); }
  &:nth-child(4) { color: var(--color-neutral-70); }
  &:nth-child(5) { color: var(--color-neutral-90); }
}

.sg-colors--success .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-success-50); }
  &:nth-child(2) { background: var(--color-success-70); }
}

.sg-colors--success .sg-colors__text li {

  &:nth-child(1) { color: var(--color-success-50); }
  &:nth-child(2) { color: var(--color-success-70); }
}

.sg-colors--alert .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-error-50); }
  &:nth-child(2) { background: var(--color-error-70); }
}

.sg-colors--alert .sg-colors__text li {

  &:nth-child(1) { color: var(--color-error-50); }
  &:nth-child(2) { color: var(--color-error-70); }
}
