/*------------------------------------*\
  #STYLEGUIDE
\*------------------------------------*/

@import "styles.css";

.sg-wrapper {
  height: 100%;

  @media (--breakpoint-20) {
    display: grid;
    grid-template-columns: 16rem auto;

    @supports not (display: grid) {
      display: flex;
    }
  }
}

.sg-aside {
  background: var(--color-neutral-10);

  @media (--breakpoint-20) {

    @supports not (display: grid) {
      flex: 0 0 16rem;
    }
  }
}

.sg-main {

}


.sg-navigation {
  list-style: none;
  margin-bottom: var(--spacing);

  & a {
    display: block;
    padding: 0.5rem 0;
    color: var(--color-neutral-50);
    font-size: var(--font-size-40);

    &:hover {
      color: var(--color-neutral-90);
    }
  }
}

.sg-h2 {
  clear: both;
  padding-top: var(--spacing);
  margin-top: var(--spacing) * 2;

  &:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
}

.sg-h3 {
  clear: both;
  font-size: var(--font-size-10);
  color: var(--color-neutral-50);
  font-family: var(--font-family-body);
  border-bottom: 1px solid var(--color-neutral-10);
  margin: var(--spacing) 0 var(--spacing) 0;
  font-weight: 600;
  text-transform: uppercase;

  & a { float: right; }
}

.sg-component {
  margin-bottom: var(--spacing);

  @media (--breakpoint-20) {
    margin-bottom: calc(var(--spacing) * 3);
  }
}

/*
 * Colors
 */
.sg-colors {
  lost-utility: clearfix;

  & ul {
    width: 50%;
    float: left;
    list-style: none;
    margin-left: 0;
  }

  & li {
    padding: 0.5rem 1rem;
  }
}

.sg-colors__item--large {
  height: 5rem;
  display: flex;
  align-items: center;
}

.sg-colors__fill {
  color: var(--color-white);
}

.sg-colors--primary .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-primary-30); }
  &:nth-child(2) { background: var(--color-primary-50); }
  &:nth-child(3) { background: var(--color-primary-70); }
}

.sg-colors--primary .sg-colors__text li {

  &:nth-child(1) { color: var(--color-primary-30); }
  &:nth-child(2) { color: var(--color-primary-50); }
  &:nth-child(3) { color: var(--color-primary-70); }
}

.sg-colors--secondary .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-secondary-50); }
}

.sg-colors--secondary .sg-colors__text li {

  &:nth-child(1) { color: var(--color-secondary-50); }
}

.sg-colors--neutral .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-neutral-10); }
  &:nth-child(2) { background: var(--color-neutral-30); }
  &:nth-child(3) { background: var(--color-neutral-50); }
  &:nth-child(4) { background: var(--color-neutral-70); }
  &:nth-child(5) { background: var(--color-neutral-90); }
}

.sg-colors--neutral .sg-colors__text li {

  &:nth-child(1) { color: var(--color-neutral-10); }
  &:nth-child(2) { color: var(--color-neutral-30); }
  &:nth-child(3) { color: var(--color-neutral-50); }
  &:nth-child(4) { color: var(--color-neutral-70); }
  &:nth-child(5) { color: var(--color-neutral-90); }
}

.sg-colors--success .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-success-50); }
  &:nth-child(2) { background: var(--color-success-70); }
}

.sg-colors--success .sg-colors__text li {

  &:nth-child(1) { color: var(--color-success-50); }
  &:nth-child(2) { color: var(--color-success-70); }
}

.sg-colors--alert .sg-colors__fill li {

  &:nth-child(1) { background: var(--color-alert-50); }
  &:nth-child(2) { background: var(--color-alert-70); }
}

.sg-colors--alert .sg-colors__text li {

  &:nth-child(1) { color: var(--color-alert-50); }
  &:nth-child(2) { color: var(--color-alert-70); }
}
