/*------------------------------------*\
  #TOKENS
\*------------------------------------*/

/*
 * Most of the variables are based on some kind of percentages to maintain stability and consistency.
 * So --variable-10 is small or light and --variable-100 is big or dark.
 */


:root {

  /*
   * Typography
   */


  /* Fonts */
  --font-family-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-family-heading: Lora, serif;


  /* Font size */
  --font-size-base: 16px;

  --font-size-default: var(--font-size-30);
  --font-size-10: 0.75rem; /* 12px Caption */
  --font-size-20: 0.875rem; /* 14px Body small */
  --font-size-30: 1rem; /* 16px Body */
  --font-size-40: 1.188rem; /* 19px Body large */
  --font-size-50: 1.5rem; /* 24px Heading */
  --font-size-60: 2rem; /* 32px Heading large */
  --font-size-70: 3.25rem; /* 52px Display */


  /* Line-height */
  --line-height-default: var(--line-height-10);
  --line-height-10: 1;
  --line-height-20: 1.25em;
  --line-height-30: 1.5em;


  /* Letter spacing */
  --letter-spacing-default: 2px;


  /* Font weight */
  --font-weight-default: var(--font-weight-20);
  --font-weight-10: 300;
  --font-weight-20: 400;
  --font-weight-30: 500;





  /*
   * Spacing
  */


  /* Spacing system */
  --space-default: var(--space-40);
  --space-10: 0.25rem; /* 4px */
  --space-20: 0.5rem; /* 8px */
  --space-30: 0.75rem; /* 12px */
  --space-40: 1rem; /* 16px */
  --space-50: 1.5rem; /* 24px */
  --space-60: 2rem; /* 16px */

  --space-stack-default: var(--space-stack-40);
  --space-stack-10: 0 0 var(--space-10) 0;
  --space-stack-20: 0 0 var(--space-20) 0;
  --space-stack-30: 0 0 var(--space-30) 0;
  --space-stack-40: 0 0 var(--space-40) 0;
  --space-stack-50: 0 0 var(--space-50) 0;
  --space-stack-60: 0 0 var(--space-60) 0;

  --space-inset-default: var(--space-inset-40);
  --space-inset-10: var(--space-10) var(--space-10) 0.1px var(--space-10);
  --space-inset-20: var(--space-20) var(--space-20) 0.1px var(--space-20);
  --space-inset-30: var(--space-30) var(--space-30) 0.1px var(--space-30);
  --space-inset-40: var(--space-40) var(--space-40) 0.1px var(--space-40);
  --space-inset-50: var(--space-50) var(--space-50) var(--space-20) var(--space-50);
  --space-inset-60: var(--space-60) var(--space-60) var(--space-40) var(--space-60);

  --space-squish-10: var(--space-10) var(--space-20);
  --space-squish-20: var(--space-20) var(--space-40);
  --space-squish-30: var(--space-30) var(--space-50);
  --space-squish-40: var(--space-40) var(--space-60);


  /* Grid gutter */
  --gutter: var(--space-60);


  /* Maximum width of the website */
  --max-width: 1140px;





  /*
   * Colors
   */


  /* Primary */
  --color-primary-30: #A1A3EC;
  --color-primary-50: #5F61C0;
  --color-primary-70: #3A3C95;


  /* Secondary */
  --color-secondary-50: #B862D8;


  /* Success and positive colors */
  --color-success-30: #81D0AE;
  --color-success-50: #099F5E;
  --color-success-70: #05673C;


  /* Error and negative colors */
  --color-error-30: #F696A6;
  --color-error-50: #D44A60;
  --color-error-70: #9F1F33;


  /* Neutral colors including black and white / Scroll down for dark mode colors */
  --color-neutral-0: #fff;
  --color-neutral-10: #F0F0F3;
  --color-neutral-30: #C7C7CE;
  --color-neutral-50: #808087;
  --color-neutral-70: #3C3C43;
  --color-neutral-90: #202025;
  --color-neutral-100: #000;


  /* Black and white */
  --color-neutral-100: #000;
  --color-neutral-0: #fff;





  /*
   * Other
   */


  /* Rounded borders */
  --effect-rounded-default: var(--effect-rounded-10);
  --effect-rounded-10: 2px;
  --effect-rounded-20: 4px;
  --effect-rounded-50: 5px;


  /* Shadows */
  --effect-shadow-default: var(--effect-shadow-10);
  --effect-shadow-10: 0px 2px 4px 1px color-mod(var(--color-neutral-100) alpha(10%));
  --effect-shadow-30: 0px 0px 4px color-mod(var(--color-neutral-90) alpha(20%)), 0px 8px 25px color-mod(var(--color-neutral-90) alpha(8%));


  /* Animation beziers */
  --bezier-a: cubic-bezier(0.075, 0.82, 0.165, 1);


  /* Z-index plan */
  --layer-10: 10;
  --layer-20: 20;
  --layer-30: 30;
}


/* Dark theme, remove if you don't want a dark mode option */
@media screen and (prefers-color-scheme: dark) {

  :root {
    --color-neutral-0: #000;
    --color-neutral-10: #202025;
    --color-neutral-30: #3C3C43;
    --color-neutral-50: #808087;
    --color-neutral-70: #C7C7CE;
    --color-neutral-90: #F0F0F3;
    --color-neutral-100: #fff;
  }
}


/* Breakpoints */
@custom-media --breakpoint-10 (min-width: 600px);
@custom-media --breakpoint-20 (min-width: 750px);
@custom-media --breakpoint-30 (min-width: 1000px);
@custom-media --breakpoint-40 (min-width: 1200px);
