/*------------------------------------*\
  #UTILITIES-GLOBAL
\*------------------------------------*/

.u-d-n { display: none; }

.u-ta-l { text-align: left; }

.u-ta-r { text-align: right; }

.u-ta-c { text-align: center; }

.u-td-lt { text-decoration: line-through; }

.u-mb-40 {
  margin-bottom: var(--space-40);
}

.u-mb-60_b30 {

  @media (--breakpoint-30) {
    margin-bottom: var(--space-60);
  }
}
