/*------------------------------------*\
  #UTILITIES-GLOBAL
\*------------------------------------*/

.u-d-n { display: none !important; }

.u-v-h { visibility: hidden !important; }

.u-ta-l { text-align: left; }

.u-ta-r { text-align: right; }

.u-ta-c { text-align: center; }

.u-f-l { float: left; }

.u-f-r { float: right; }

.u-td-lt { text-decoration: line-through; }

.u-mb-40_b20 {

  @media (--breakpoint-20) {
    margin-bottom: var(--space-40);
  }
}
