<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Project</title>
  <meta name="description" content="">

  <link crossorigin="anonymous" href="/assets/stylesheets/styles.css" rel="stylesheet">
  <link href="/assets/images/favicon-32.ico" rel="shortcut icon">
  <link href="/assets/images/favicon-152.png" rel="apple-touch-icon-precomposed">
</head>

<body>

  {% include 'components/Sprite/Sprite.html' %}

  <div class="c-layout">

    {% block content %}{% endblock %}

  </div>

</body>

</html>
