<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Project</title>
  <meta name="description" content="">

  <link crossorigin="anonymous" href="/assets/stylesheets/styles.css" rel="stylesheet">
  <link href="/assets/images/favicon.svg" rel="shortcut icon">
</head>

<body>

  {% include 'layout/sprite.html' %}

  <div class="c-layout">

    {% block content %}{% endblock %}

  </div>

</body>

</html>
