<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Project</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/assets/stylesheets/styles.css" crossorigin="anonymous">
  <link rel="shortcut icon" href="/assets/images/favicon-32.ico">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-152.png">
</head>

<body>

  {% include 'components/sprite/sprite.html' %}

  {% block content %}{% endblock %}

</body>

</html>
