<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">

  <!-- Example icon for the styleguide -->
  <symbol viewBox="0 0 24 24" id="icon-print" preserveAspectRatio="xMinYMin">
    <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
  </symbol>

  <symbol viewBox="0 0 24 24" id="icon-arrow-forward" preserveAspectRatio="xMinYMin">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
  </symbol>

  <!-- Add your own icons here -->

</svg>
