<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Style Guide</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/assets/stylesheets/styleguide.css" crossorigin="anonymous">
  <link rel="shortcut icon" href="/assets/images/favicon-32.ico">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-152.png">
</head>

<body>

  {% include 'components/sprite/sprite.html' %}

  <div class="sg-wrapper">

    <aside class="sg-aside">
      <h2 class="u-spacing">Styleguide</h2>
      <ul class="sg-navigation">
        <li><a href="/styleguide/index.html">Introduction</a></li>
        <li><a href="/styleguide/settings.html">Settings</a></li>
        <li><a href="/styleguide/base.html">Base</a></li>
        <li><a href="/styleguide/components.html">Components</a></li>
        <li><a href="/styleguide/utilities.html">Utilities</a></li>
      </ul>
    </aside>

    <main class="sg-main">

      {% block content %}{% endblock %}

    </main>

  </div>

</body>

</html>
