<!doctype html>
<html lang="en" class="t-dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Style Guide</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/assets/stylesheets/styleguide.css" crossorigin="anonymous">
  <link rel="shortcut icon" href="/assets/images/favicon.svg">
</head>

<body>

  {% include 'layout/sprite.html' %}

  <div class="sg-wrapper">

    <aside class="sg-aside">
      <h2 class="c-heading c-heading--30 u-spacing">Styleguide</h2>
      <ul class="sg-navigation">
        <li><a href="/styleguide/index.html">Getting Started</a></li>
        <li><a href="/styleguide/guidelines.html">Guidelines</a></li>
        <li><a href="/styleguide/tokens.html">Tokens</a></li>
        <li><a href="/styleguide/base.html">Base</a></li>
        <li>
          <a href="/styleguide/components.html">Components</a>
          <ul class="sg-navigation-sub">
            <li><a href="/styleguide/components.html#Alert">Alert</a></li>
            <li><a href="/styleguide/components.html#Button">Button</a></li>
            <li><a href="/styleguide/components.html#Card">Card</a></li>
            <li><a href="/styleguide/components.html#FormCheckbox">FormCheckbox</a></li>
            <li><a href="/styleguide/components.html#FormField">FormField</a></li>
            <li><a href="/styleguide/components.html#FormInput">FormInput</a></li>
            <li><a href="/styleguide/components.html#FormRadiobutton">FormRadiobutton</a></li>
            <li><a href="/styleguide/components.html#FormSelect">FormSelect</a></li>
            <li><a href="/styleguide/components.html#FormTextarea">FormTextarea</a></li>
            <li><a href="/styleguide/components.html#Grid">Grid</a></li>
            <li><a href="/styleguide/components.html#Heading">Heading</a></li>
            <li><a href="/styleguide/components.html#Icon">Icon</a></li>
            <li><a href="/styleguide/components.html#Layout">Layout</a></li>
            <li><a href="/styleguide/components.html#List">List</a></li>
            <li><a href="/styleguide/components.html#Navigation">Navigation</a></li>
            <li><a href="/styleguide/components.html#Media">Media</a></li>
            <li><a href="/styleguide/components.html#Pagination">Pagination</a></li>
            <li><a href="/styleguide/components.html#Panel">Panel</a></li>
            <li><a href="/styleguide/components.html#Quote">Quote</a></li>
            <li><a href="/styleguide/components.html#Paragraph">Paragraph</a></li>
            <li><a href="/styleguide/components.html#Table">Table</a></li>
            <li><a href="/styleguide/components.html#Tag">Tag</a></li>
          </ul>
        </li>
        <li><a href="/styleguide/utilities.html">Utilities</a></li>
        <li><a href="/styleguide/templates.html">Templates</a></li>
        <li><a href="/styleguide/support.html">Support</a></li>
      </ul>
    </aside>

    <main class="sg-main" data-observe-resizes>

      {% block content %}{% endblock %}

    </main>

  </div>

  <script>
  // Container queries: https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/
  // Only run if ResizeObserver is supported.
  if ('ResizeObserver' in self) {
    // Create a single ResizeObserver instance to handle all
    // container elements. The instance is created with a callback,
    // which is invoked as soon as an element is observed as well
    // as any time that element's size changes.
    var ro = new ResizeObserver(function(entries) {
      // Default breakpoints that should apply to all observed
      // elements that don't define their own custom breakpoints.
      var defaultBreakpoints = {'cq-10': 500, 'cq-20': 750, 'cq-30': 1000};

      entries.forEach(function(entry) {
        // If breakpoints are defined on the observed element,
        // use them. Otherwise use the defaults.
        var breakpoints = entry.target.dataset.breakpoints ?
            JSON.parse(entry.target.dataset.breakpoints) :
            defaultBreakpoints;

        // Update the matching breakpoints on the observed element.
        Object.keys(breakpoints).forEach(function(breakpoint) {
          var minWidth = breakpoints[breakpoint];
          if (entry.contentRect.width >= minWidth) {
            entry.target.classList.add(breakpoint);
          } else {
            entry.target.classList.remove(breakpoint);
          }
        });
      });
    });

    // Find all elements with the `data-observe-resizes` attribute
    // and start observing them.
    var elements = document.querySelectorAll('[data-observe-resizes]');
    for (var element, i = 0; element = elements[i]; i++) {
      ro.observe(element);
    }
  }
  </script>

</body>

</html>
